<a href="https://colab.research.google.com/github/KonpabaTra/SKILL-TRACK-Python-Programming-Fundamentals/blob/main/01_Introduction_to_Python_for_Developers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 2: Working with Data Types

## Lesson 1: Working with strings

### Excercise 1: Multi-line strings

You have a friend who works at an e-learning company called LLM Camp, where they teach people how to work with large language models (LLMS).

They want to use Python to store their user reviews and you've volunteered to help set this up! They've provided two of their most recent reviews:
```
# review_one
I really enjoy the courses,
and they are easy to fit into my busy schedule.
I wish I had started using your platform sooner.
I'll be recommending you to my friends!!

# review_two
One year ago, I was unsure of how to make progress in my career.
Now, I work as a Prompt Engineer, and I can't thank you enough!
Keep up the great work.
```

**Instructions**
*  Store the first review as a multi-line string variable called `review_one`.
*  Store the second review as a multi-line string variable called `review_two`.
*   Print `review_one` then print `review_two`.

In [ ]:
# Create review_one
review_one = """ I really enjoy the courses,
and they are easy to fit into my busy schedule.
I wish I had started using your platform sooner.
I'll be recommending you to my friends!! """

# Create review_two
review_two = """ One year ago, I was unsure of how to make progress in my career.
Now, I work as a Prompt Engineer, and I can't thank you enough!
Keep up the great work."""

# Print the two reviews individually
print(review_one)
print(review_two)

 I really enjoy the courses,
and they are easy to fit into my busy schedule.
I wish I had started using your platform sooner.
I'll be recommending you to my friends!!
 One year ago, I was unsure of how to make progress in my career.
Now, I work as a Prompt Engineer, and I can't thank you enough!
Keep up the great work.

### Excercise 2: Modifying string variables

You did so well working with LLM Camp's reviews that they've asked for your help again.

They have a variable called `most_popular_course`, which contains the name of their highest-ranked course. It has been provided in script.py so you can see its contents. However, there are issues with it:

*   There's a typo. It should be `"Introduction"` rather than `"Intro"`.
*   They want to remove spaces and use underscores to make it easier to analyze.
*   For consistency, they want all characters to be lowercase.

They'd like your support in making these changes!

**Instructions**
*   Update the variable so that `"Intro"` now reads `"Introduction"`.
*   Swap spaces to underscores throughout the string contained in `most_popular_course`.
*   Update `most_popular_course` so that it only contains lowercase characters.

In [ ]:
most_popular_course = "Intro to Embeddings with the OpenAI API"
print(most_popular_course)

# Update the first word
most_popular_course = most_popular_course.replace("Intro", "Introduction")
print(most_popular_course)

# Swap spaces for underscores
most_popular_course = most_popular_course.replace(" ", "_")
print(most_popular_course)

# Change to lowercase
most_popular_course = most_popular_course.lower()
print(most_popular_course)

Intro to Embeddings with the OpenAI API
Introduction to Embeddings with the OpenAI API
Introduction_to_Embeddings_with_the_OpenAI_API
introduction_to_embeddings_with_the_openai_api

## Lesson 2: List

### Excersise 1: Building a party playlist

You're planning a party and want to build a playlist containing songs and the order in which they should be played.

You decide this is a great opportunity to build a list in Python! In this exercise, you will create your `playlist` variable and add the first three songs.

**Instructions**
*   Create a list variable called `playlist`, containing the following numeric and string values (in order): `1, "Blinding Lights", 2, "One Dance", 3, "Uptown Funk".`
*   Print the list.

In [ ]:
# Create the playlist variable
playlist = [1, "Blinding Lights", 2, "One Dance", 3, "Uptown Funk"]

# Print the list
print(playlist)

[1, 'Blinding Lights', 2, 'One Dance', 3, 'Uptown Funk']

### Excersise 2: Subsetting lists

You've expanded your `playlist`. It still contains the song order and song names, but now you've also added the artist name for each song, as well as some additional songs!

It repeats the same order throughout the list - 1) song number, 2) song name, 3) artist name, repeat.

The new `playlist` has been printed in the IPython Shell for your reference.

This is a great opportunity for you to practice extracting specific information from your list.

**Instructions**
*   Find the name of the second song, which is the fifth element, in the `playlist`, and print the value.
*   Print the name of the artist for the final song in the `playlist`.
*   Print every song name in the `playlist`.

In [ ]:
playlist = [1, 'Blinding Lights', 'The Weeknd', 2, 'One Dance', 'Drake', 3,
            'Uptown Funk', 'Mark Ronson', 4, 'Closer', 'The Chainsmokers', 5,
            'One Kiss', 'Calvin Harris', 6, 'Mr. Brightside', 'The Killers']
print(playlist)

# Find the second song
print(playlist[4])

# Get the last song's artist
print(playlist[-1])

# Print all songs in the playlist
print(playlist[1::3])

[1, 'Blinding Lights', 'The Weeknd', 2, 'One Dance', 'Drake', 3, 'Uptown Funk', 'Mark Ronson', 4, 'Closer', 'The Chainsmokers', 5, 'One Kiss', 'Calvin Harris', 6, 'Mr. Brightside', 'The Killers']
One Dance
The Killers
['Blinding Lights', 'One Dance', 'Uptown Funk', 'Closer', 'One Kiss', 'Mr. Brightside']

##Lesson 3: Dictionaries

### Creating a dictionary

In [ ]:
# Creating a dictionary
products_dict =  {"AG32": 10, "HT91": 20,
                  "PL65": 30, "OS31": 15,
                  "KB07": 25, "TR48": 35}

10

### Accessing a value based on the key

In [ ]:
# Find the product's price
print(products_dict["AG32"])

### Accessing all values

In [ ]:
# Get all values from a dictionary
products_dict.values()

dict_values([10, 20, 30, 15, 25, 35])

### Accessing all keys

In [ ]:
# Retrieve all keys in a dictionary
products_dict.keys()

dict_keys(['AG32', 'HT91', 'PL65', 'OS31', 'KB07', 'TR48'])

### Viewing an entire dictionary

In [ ]:
# Print the dictionary
print(products_dict)

{'AG32': 10, 'HT91': 20, 'PL65': 30, 'OS31': 15, 'KB07': 25, 'TR48': 35}

In [ ]:
# Get all items (key-value pairs)
products_dict.items()

dict_items([('AG32', 10), ('HT91', 20), ('PL65', 30), ('OS31', 15), ('KB07', 25), ('TR48', 35)])

### Adding a key-value pair

In [ ]:
# Add a new key-value pair
products_dict["UI56"] = 40

### Updating a value

In [ ]:
# Updating a value associated with an existing key
products_dict["HT91"] = 12

### Excercie 1: Building a playlist dictionary

With your new-found knowledge of dictionaries, you decide to translate your `playlist` from a list into a dictionary! As a reminder, this is the contents of `playlist`:



```
[1, "Blinding Lights", "The Weeknd", 2, "One Dance", "Drake",
 3, "Uptown Funk", "Mark Ronson", 4, "Closer", "The Chainsmokers",
 5, "One Kiss", "Calvin Harris", 6, "Mr. Brightside", "The Killers"]
```


The song names start at the second index `"Blinding Lights"` and make up every third value afterward.

Artist names start at the third index `"The Weeknd"` and also make up every third value afterward.

**Instructions**


*   Create a dictionary called `playlist` containing the first two songs, in that order, with artist names as keys and their respective songs as values.
*   Print the dictionary.

In [ ]:
# Create the playlist dictionary
playlist = {"The Weeknd" : "Blinding Lights", "Drake" : "One Dance"}

# Print the playlist
print(playlist)

{'The Weeknd': 'Blinding Lights', 'Drake': 'One Dance'}

### Excercise 2: Working with dictionaries

You've been busy, adding more artists and songs to your `playlist` dictionary in preparation for the party!

As a reminder, it contains artist names as keys and song names as values.

In this exercise, you'll access parts of the dictionary as well as adding a new artist and song.

**Instructions**


*   Print the name of the song in the `playlist` that is by the artist `"Coldplay"`.
*   Add a new key-value pair to the `playlist`, where the key is `"Usher"` and the value is `"Yeah!"`.
*   Print **only** the songs in the `playlist`.

In [ ]:
playlist = {'The Weeknd': 'Blinding Lights',
 'Drake': 'One Dance',
 'Mark Ronson': 'Uptown Funk',
 'The Chainsmokers': 'Closer',
 'Calvin Harris': 'One Kiss',
 'The Killers': 'Mr. Brightside',
 'Oasis': 'Wonderwall',
 'Rihanna': 'We Found Love',
 'Coldplay': 'Paradise'}

# Print the song by Coldplay
print(playlist["Coldplay"])

# Add a new song
playlist["Usher"] = "Yeah!"

# Print the songs in the playlist
print(playlist.values())

Paradise
dict_values(['Blinding Lights', 'One Dance', 'Uptown Funk', 'Closer', 'One Kiss', 'Mr. Brightside', 'Wonderwall', 'We Found Love', 'Paradise', 'Yeah!'])

## Lesson 4: Sets and Tuples

### Sets



*   Contain **unique** data

*   Unchangeable*: Can add or remove values, but cannot change them
*   Ideal to identify and remove duplicates


*   Quick to search (compared to other data structures such as lists)

### Creating a set

In [ ]:
# Create an attendee set
attendees_set = {"John Smith", "Alan Jones", "Roger Thompson", "John Smith", "Brandon Sharp", "Sam Washington"}
print(attendees_set)

{'Brandon Sharp', 'Alan Jones', 'Roger Thompson', 'John Smith', 'Sam Washington'}

### Converting to a set

In [ ]:
# Existing list variable
attendees_list = ["John Smith", "Alan Jones", "Roger Thompson", "John Smith", "Brandon Sharp", "Sam Washington"]

# Convert to a set
attendees_set = set(attendees_list)

# Check the data type
type(attendees_set)

print(attendees_set)

{'Alan Jones', 'Sam Washington', 'Brandon Sharp', 'Roger Thompson', 'John Smith'}

### Limitations of sets



1.   Don't have an index


*   Can't have duplicates
*   Can't subset with []

In [ ]:
# Trying to subset a set
attendees_set[0]

TypeError: 'set' object is not subscriptable

### Sorting a set

`.sorted()` return a list

In [ ]:
attendees_set = {"John Smith", "Alan Jones", "Roger Thompson", "John Smith", "Brandon Sharp", "Sam Washington"}
# Sorting a set
sorted(attendees_set)

['Alan Jones',
 'Brandon Sharp',
 'John Smith',
 'Roger Thompson',
 'Sam Washington']

### Excercise 1: Last quarter's revenue

Your friend at LLM Camp has finalized the financial performance for the last quarter and would like you to store this information in a format that cannot be modified. It will contain their revenue, new customer acquisitions, and cash position.

You've decided to make a tuple containing this information.

**Instructions**


*   Create a tuple called `q3_financials` containing the following values: `325780`, `1041`, and `4271599`.
*   Print the tuple.

In [ ]:
# Create a tuple
q3_financials = (325780, 1041, 4271599)

# Print the tuple
print(q3_financials)

(325780, 1041, 4271599)

### Excercise 2: DJ Sets

In [ ]:
hip_hop = ["Drake", "JAY-Z", "50 Cent", "Drake"]

**Instructions**


*   Create a set called `indie_set` containing `"Kings of Leon"`, `"Arctic Monkeys"`, and `"Stereophonics"`.
*   Convert the `hip_hop` list into a set, saving it as a new variable called `hip_hop_set`
*   Print the `indie_set` and `hip_hop_set` set variables.

In [ ]:
# Create a set
indie_set = {"Kings of Leon", "Arctic Monkeys", "Stereophonics"}

# Convert hip_hop to a set
hip_hop_set = set(hip_hop)

# Print the indie and hip_hop sets
print(indie_set, hip_hop_set)

{'Arctic Monkeys', 'Stereophonics', 'Kings of Leon'} {'Drake', 'JAY-Z', '50 Cent'}

# Chapter 3: Control flow and loops

## Lesson 1: Conditional statements and operators

### Booleans

In [ ]:
# Boolean variable
the_truth = True
print(the_truth)

### Operators

### Checking for equality

In [ ]:
# Compare if 2 is equal to 3
2 == 3

False

In [ ]:
# Check that 2 is not equal to 3
2 != 3

True

### Numeric comparison operators

In [ ]:
# Is 5 less than 7?
5 < 7

True

In [ ]:
# Is 5 greater than 7?
5 > 7

False

In [ ]:
# Is 5 less than or equal to 7?
5 <= 7

True

In [ ]:
# Is 5 greater or equal to 7?
5 >= 7

False

### Other comparisons

In [ ]:
# Is James greater than Brian
"James" > "Brian"

True

### Conditional statements

In [ ]:
# Target units sold and actual units sold
sales_target = 350
units_sold = 355
# Compare sales
if units_sold >= sales_target:
  print("Target achieved")

Target achieved

### Indentation

In [ ]:
# Target units sold and actual units sold
sales_target = 350
units_sold = 355
# Compare sales
if units_sold >= sales_target:
print("Target achieved") # This line is not indented

IndentationError: expected an indented block after 'if' statement on line 5 (<ipython-input-9-dbe9cd50e4dc>, line 6)

### Elif statement

In [ ]:
# Target units sold and actual units sold
sales_target = 350
units_sold = 325
# Compare sales
if units_sold >= sales_target:
    print("Target achieved")
# Check if we were close to the target
elif units_sold >= 320:
    print("Target almost achieved")

Target almost achieved

### Else statement

In [ ]:
# Compare sales
if units_sold >= sales_target:
  print("Target achieved")
# Check if we were close to the target
elif units_sold >= 320:
  print("Target almost achieved")
# Otherwise...
else:
  print("Target not achieved")

Target almost achieved

### Excercise 1: Checking inflation

You've been asked to support the UK Government in analyzing their inflation statistics.

They've supplied you with data for September and August 2023 stored as two float variables, `inflation_september` and `inflation_august` respectively.

You'll need to build a workflow that compares these statistics.

In [ ]:
inflation_september = 6.7
inflation_august = 6.7

**Instructions**


*   Check if `inflation_september` is less than `inflation_august`, printing "Inflation decreased" if this is the case.
*   *Else*, check *if* `inflation_september` is more than `inflation_august`, printing `"Inflation increased"` if true.
*   Otherwise, print `"Inflation remained stable"`.

In [ ]:
# Check if September inflation is less than August inflation
if inflation_september < inflation_august:
  print("Inflation decreased")

# Check if September inflation is more than August inflation
elif inflation_september > inflation_august:
  print("Inflation increased")

# Confirm that they are equal
else:
  print("Inflation remained stable")

Inflation remained stable

### Excercise 2: On the rental market

You are looking to move and have defined variables containing your requirements/limits for number of bedrooms, minimum square feet (area), and maximum rent:

In [ ]:
min_num_beds = 2
min_sq_foot = 750
max_rent = 1900

You've seen a property you are interested in and have stored its information in the variables `num_beds`, `sq_foot`, and `rent`. You will build a custom workflow to check if this potential property suits your needs.

In [ ]:
num_beds = 3
sq_foot = 800
rent = 1750

**Instructions**


*   Check if `num_beds` is less than `min_num_beds`, printing `"Insufficient bedrooms"` if this is the case
*   Else, check if `sq_foot` is less than or equal to `min_sq_foot`, printing `"Too small"` if this is the case.
*   Else, check if `rent` is more than `max_rent`, printing `"Too expensive"` if this is the case.
*   Otherwise, print `"This looks promising!"`.

In [ ]:
# Check the number of beds
if num_beds < min_num_beds:
  print("Insufficient bedrooms")

# Check square feet
elif sq_foot <= min_sq_foot:
  print("Too small")


# Check the rent
elif rent > max_rent:
  print("Too expensive")


# If all conditions met
else:
  print("This looks promising!")

This looks promising!

## Lesson 2: For loops

### Individual comparisons

In [ ]:
# Prices list
prices = [9.99, 8.99, 35.25, 1.50, 5.75]
prices[0] > 10

False

In [ ]:
prices[0] < 5

False

In [ ]:
prices[0] >= 5 and prices[0] <= 10

True

### For loop syntax


```
for value in sequence:
  action
```

*   `for` each `value` in `sequence` , perform `action`
    *   `action` is indented because of the colon in the previous line
*   `sequence` = iterable e.g., list, dictionary, etc
*   `value` = iterator, i.e., the index
    *   Placeholder (can give it any name), `i` is common.

### Print individual values

In [ ]:
# Prices list
prices = [9.99, 8.99, 35.25, 1.50, 5.75]
# Print each value in prices
for price in prices:
  print(price)

9.99
8.99
35.25
1.5
5.75

### Conditional statements in for loops

In [ ]:
for price in prices:
  # Check if the price is more than 10
  if price > 10:
    print("More than $10")
  # Check if the price is less than 5
  elif price < 5:
    print("Less than $5")
  # Otherwise print the price
  else:
    print(price)

9.99
8.99
More than $10
Less than $5
5.75

### Looping through strings

In [ ]:
username = "george_dc"
# Loop through username and print each character
for char in username:
  print(char)

g
e
o
r
g
e
_
d
c

### Looping through dictionaries

In [ ]:
products_dict = {"AG32":87.99, "HT91":21.50,
"PL65":43.75, "OS31":19.99,
"KB07":62.95, "TR48":98.0}

# Loop through keys and values
for key, val in products_dict.items():
  print(key, val)

AG32 87.99
HT91 21.5
PL65 43.75
OS31 19.99
KB07 62.95
TR48 98.0

In [ ]:
# Loop through keys
for key in products_dict.keys():
  print(key)

AG32
HT91
PL65
OS31
KB07
TR48

In [ ]:
# Loop through values
for val in products_dict.values():
  print(val)

87.99
21.5
43.75
19.99
62.95
98.0

### Range

*   Can use `for` loops to update variables


```
    range(start, end + 1)
```

*   `start` = inclusive
*   `end` = not inclusive

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

### Building a counter

In [ ]:
# No visits yet
visits = 0

# Loop through numbers 1-10
for i in range(1, 11):
# Add one to visits during each iteration
  visits += 1 # Same as visits = visits + 1

print(visits)

10

### Exercise 1: Looping through a list

Time to test your for-loop skills! In the `script.py` a list called `user_ids` has been stored, containing, you guessed it - user IDs!

Your task is to loop through the list and print each ID individually.

In [ ]:
user_ids = ["T42YG4KTK", "VTQ39IDQ0", "CRL11YUWX", "K6Y5URXLR", "V4XCBER7V", "IOGQWC61K"]

**Instructions**
*   Create a for loop to iterate over each `user_id` in `user_ids`.
*   Within the for loop, print the `user_id`.

In [ ]:
# Loop through user_ids
for user_id in user_ids:
  # Print the user_id
  print(user_id)

T42YG4KTK
VTQ39IDQ0
CRL11YUWX
K6Y5URXLR
V4XCBER7V
IOGQWC61K

### Excercise 2: Updating a variable with for loops

You're planning to hold a party so you can show off your playlist to friends and family. You've hired a venue that has a maximum capacity of 30 people, and you'd like to keep track of tickets sold.

This is a perfect opportunity to use a for loop - it will increment the value of a variable each time a ticket is sold and then print a statement once the event is sold out.

**Instructions**
*   Create a variable called `tickets_sold` with a value of `0`.
*   Create a variable called `max_capacity` with a value of `30`.
*   Loop through a range starting at `1` and finishing at `max_capacity` plus one, naming the iterator as `tickets`.
*   Inside the for loop, add `1` to the value of `tickets_sold`.

In [ ]:
# Create the tickets_sold variable
tickets_sold = 0

# Create the max_capacity variable
max_capacity = 30

# Loop through a range up to and including max_capacity's value
for i in range(1, max_capacity+1):

  # Add one to tickets_sold in each iteration
  tickets_sold = tickets_sold + 1

print("Sold out:", tickets_sold, "tickets sold!")

Sold out: 30 tickets sold!

### Excercise 3: Conditional looping with a dictionary

Your friend at LLM Camp has provided you with a dictionary called `courses`. It contains the names of courses as keys and their associated topic as a value. There are three topics: `"AI"`, `"Programming"`, and `"Data Engineering"`.

In [ ]:
courses = {"LLM Concepts": "AI",
           "Introduction to Data Pipelines": "Data Engineering",
           "AI Ethics": "AI",
           "Introduction to dbt": "Data Engineering",
           "Writing Efficient Python Code": "Programming",
           "Introduction to Docker": "Programming"}

This is a great chance to practice looping through dictionaries!

**Instructions**


*   Create a for loop to iterate over `key`, `value` in `courses.items()`.
*   Check if the value is `"AI"`, and print the `key` if so.
*   Else, check if the `value` is `"Programming"`, printing the `key` if so.
*   Otherwise, print the `key` to confirm it is a `"Data Engineering"` course.

In [ ]:
# Loop through the dictionary's keys and values
for key, value in courses.items():

  # Check if the value is "AI"
  if value == "AI":
    print(key, "is an AI course")

  # Check if the value is "Programming"
  elif value == "Programming":
    print(key, "is a Programming course")

  # Otherwise, print that it is a "Data Engineering" course
  else:
    print(key, "is a Data Engineering course")

LLM Concepts is an AI course
Introduction to Data Pipelines is a Data Engineering course
AI Ethics is an AI course
Introduction to dbt is a Data Engineering course
Writing Efficient Python Code is a Programming course
Introduction to Docker is a Programming course

## Lesson 3: While loops

### While loop

In [ ]:
# Stock limit
stock = 10

# Number of purchases
num_purchases = 0

# While num_purchases < stock limit
while num_purchases < stock:
  # Increment num_purchases
  num_purchases += 1
  # Print remaining stock
  print(stock - num_purchases)

9
8
7
6
5
4
3
2
1
0

### A word of caution

In [ ]:
# Stock limit
stock = 10

# Number of purchases
num_purchases = 0

# While num_purchases < threshold
while num_purchases < stock:
  # Print remaining stock
  print(stock - num_purchases)

### Breaking a loop

In [ ]:
# While num_purchases < threshold
while num_purchases < stock:
  # Print remaining stock
  print(stock - num_purchases)

  # Terminate the loop
  break

10

### Conditional statements within while loops

In [ ]:
# While num_purchases < threshold
while num_purchases < stock:
  # Increment num_purchases
  num_purchases += 1
  # Conditional statement inside the loop
  if stock - num_purchases > 7:
    print("Plenty of stock remaining")
  elif stock - num_purchases > 3:
    print("Some stock remaining")
  elif stock - num_purchases != 0:
    print("Low stock!")
  else:
    print("No stock!")

Plenty of stock remaining
Plenty of stock remaining
Some stock remaining
Some stock remaining
Some stock remaining
Some stock remaining
Low stock!
Low stock!
Low stock!
No stock!

### Excercise 1: Converting to a while loop

You can often achieve the same tasks using either a `for` or `while` loop.

To demonstrate this, you'll convert this `for` loop into a `while`!



```
# Create the tickets_sold variable
tickets_sold = 0

# Create the max_capacity variable
max_capacity = 10

# Loop through a range up to and including max_capacity's value
for tickets in range(1, max_capacity + 1):

  # Add one to tickets_sold in each iteration
  tickets_sold += 1

print("Sold out:", tickets_sold, "tickets sold!")
```

**Note that if your `while` loop takes too long to run, or your session is expiring, you might have created an infinite loop.** In particular, remember to **indent** the contents of the loop using four spaces or auto-indentation, and make sure the conditions are such that the loop has a stopping point.

**Instructions**
*   Create a while loop to run while `tickets_sold` is less than `max_capacity`.
*   Inside the loop, increment `tickets_sold` by `1`, representing an increase for each ticket sold.
*   Outside of the loop, print `tickets_sold`.

In [ ]:
tickets_sold = 0
max_capacity = 10

# Create a while loop
while tickets_sold < max_capacity:

  # Add one to tickets_sold in each iteration
  tickets_sold += 1

# Print the number of tickets sold
print("Sold out:", tickets_sold, "tickets sold!")

Sold out: 10 tickets sold!

### Excercise 2: Conditional while loops

You've offered to help build a program that LLM Camp can use to promote an upcoming new course launching on the 26th of the month.

Today's date is the 22nd, and they have a pre-release version available from the 24th for all users who purchase a subscription on or before the 24th!

You'll need to build a custom workflow that provides tailored messages depending on the date.

**Note that if your `while` loop takes too long to run, or your session is expiring, you might have created an infinite loop.** In particular, remember to **indent** the contents of the loop using four spaces or auto-indentation, and make sure the conditions are such that the loop has a stopping point.

**Instructions**
*   Create a `while` loop based on `current_date` being less than or equal to `release_date`
*   Check if `current_date` is less than or equal to `24` and, if so, print `"Purchase before the 25th for early access"`
*   Otherwise, check if `current_date` is equal to `25`, printing `"Coming soon!"`.
*   After all checks, increment `current_date` by one for each day that passes.

In [ ]:
release_date = 26
current_date = 22

# Create a conditional loop while current_date is less than or equal to the release_date
while current_date <= release_date:

  # Promote purchases
  if current_date <= 24:
    print("Purchase before the 25th for early access")

  # Check if the date is equal to the 25th
  elif current_date == 25:
    print("Coming soon")
  else:
    print("Available now!")

  # Increment current_date by one
  current_date += 1

Purchase before the 25th for early access
Purchase before the 25th for early access
Purchase before the 25th for early access
Coming soon
Available now!

## Lesson 4: Building a workflow

### Complex workflows

*   Loops through data structures
    *   `for` , `while`

  *   Evaluate multiple conditions
      *   `if` , `elif` , `else` , `>` , `>=` , `<` , `<=` , `==` , `!=`

  *   Update variables
        *   `+=`

*    Return outputs
     *    `print()`

### The "`in`" keyword

*    `in` = check if a value is `in` a variable/data structure

In [ ]:
products_dict = {"AG32": 10, "HT91": 20,
                  "PL65": 30, "OS31": 15,
                  "KB07": 25, "TR48": 35}
# Check if "OS31" is a key in products_dict
if "OS31" in products_dict.keys():
  print(True)
else:
  print(False)

True

### The "`not`" keyword

*    `not` = check if a condition is **not** met

In [ ]:
# Check if "OS31" is not a key in products_dict
if "OS31" not in products_dict.keys():
  print(False)
else:
  print(True)

True

### The "`and`" keyword

*   `and` = check if **multiple conditions** are met

In [ ]:
# Check if "HT91" is a key and the minimum price of all products is > 5
if "HT91" in products_dict.keys() and min(products_dict.values()) > 5:
  print(True)
else:
  print(False)

True

### The "`or`" keyword

*   `or` = check if **one (or more) condition** is met

In [ ]:
# Check if "HT91" is a key or that the minimum price of all products is < 5
if "HT91" in products_dict.keys() or min(products_dict.values()) < 5:
  print(True)
else:
  print(False)

True

### Adding/subtracting from variables

*   Combine keywords with other techniques to build complex workflows

In [ ]:
sales_count = 0

for sale in range(1, 10):
  # sales_count = sales_count + 1
  sales_count += 1

stock = 10

for sale in range(1, 10):
  # sales_count = sales_count - 1
  stock -= 1

*   Other ways to update variables

### Appending

*    Store information that meets specific criteria in a list

In [ ]:
# Create an empty list
expensive_products = []

# Loop through the dictionary
for key, val in products_dict.items():

  # Check if price is 20 dollars or more
  if val >= 20:

    # Append the product ID to the list
    expensive_products.append(key)

print(expensive_products)

['HT91', 'PL65', 'KB07', 'TR48']

### Excercise 1: Appending to a list

You've been provided with a dictionary called `authors`, which has information about 20 of the most popular fiction authors in the World. It contains the names of authors as keys and the number of books they've created as values.

You're interested in finding out how many of these authors have made less than 25 books. To do this, you will create a list called `authors_below_twenty_five`, filling it with author names conditionally based on whether they have created less than 25 books.

In [ ]:
authors = {'Penny Jordan': 200,
 'Nicholas Sparks': 22,
 'Ken Follett': 30,
 'Erskine Caldwell': 25,
 'Wilbur Smith': 32,
 'Judith Krantz': 12,
 'Harold Robbins': 23,
 'J. K. Rowling': 22,
 'Debbie Macomber': 199,
 'Eiichiro Oda': 106,
 'Danielle Steel': 179,
 'Barbara Cartland': 723,
 'Georges Simenon': 570,
 'Corín Tellado': 4000,
 'Clive Cussler': 37,
 'Sidney Sheldon': 21,
 'Dean Koontz': 91,
 'Janet Dailey': 93,
 'Jirō Akagawa': 500,
 'Stephen King': 77}

**Instructions**
*    Create an empty list called `authors_below_twenty_five`.
*    Loop through the key and `value` iterators in the `authors` dictionary.
*    Inside the for loop, check if `value` iterator is less than `25`.
*    If so, append the author's name to the `authors_below_twenty_five` list.

In [ ]:
# Create an empty list
authors_below_twenty_five = []

# Loop through the authors dictionary
for key, value in authors.items():

  # Check for values less than 25
  if value < 25:

    # Append the author to the list
    authors_below_twenty_five.append(key)

print(authors_below_twenty_five)

['Nicholas Sparks', 'Judith Krantz', 'Harold Robbins', 'J. K. Rowling', 'Sidney Sheldon']

### Excercise 2: Book genre popularity

Previously, you worked with a dictionary containing information about authors and the number of books that they have written.

In this exercise, data about the same authors has been aggregated to create a new dictionary called `genre_sales`, where the keys are the genre and the values are the average sales for that genre among the 20 most popular authors.

Your job is to find the most and least popular genres among these authors, along with their average sales revenue.

In [ ]:
genre_sales = {'Adventure': 367500000,
 'Horror': 312500000,
 'Literature': 80000000,
 'Manga': 5166000000,
 'Mystery': 300000000,
 'Romance': 252500000,
 'Thriller': 320000000}

**Instructions**
*   Check if `average_sale` is equal to the largest sales revenue (`5166000000`) in `genre_sales`.
*   Print the `genre` with the largest average sales.
*   Next, check whether `average_sale` is equal to the smallest sales revenue (`80000000`).
*   Lastly, print the `genre` with the smallest average sales.

In [ ]:
for genre, average_sale in genre_sales.items():

    # Filter for the maximum sales value
    if average_sale == 5166000000:

      # Print the genre
      print("Most popular genre: ", genre)
      print("Average sales: ", average_sale)

    # Filter for the minimum sales value
    elif average_sale == 80000000:

      # Print the genre
      print("Least popular genre: ", genre)
      print("Average sales: ", average_sale)

Least popular genre:  Literature
Average sales:  80000000
Most popular genre:  Manga
Average sales:  5166000000

### Excercise 3: Working with keywords

Working with the `genre_sales` dictionary again, this time you will apply multiple conditions simultaneously to find out information about book genres and average sales!

**Instructions**
*   Loop through the keys and values of the `genre_sales` dictionary.
*   Inside the loop, check if the genre is `"Horror"` Inline code or `"Mystery"`.
*   Check if `genre` is `"Thriller"` and average sales is more than or equal to `3000000`

In [ ]:
# Loop through the dictionary
for genre, sale in genre_sales.items():

  # Check if genre is Horror or Mystery
  if genre == "Horror" or genre == "Mystery":
    print(genre, sale)

  # Check if genre is Thriller and sale is at least 3 million
  elif genre == "Thriller" and sale >= 3000000:
    print(genre, sale)

Horror 312500000
Mystery 300000000
Thriller 320000000