<a href="https://colab.research.google.com/github/KonpabaTra/SKILL-TRACK-Python-Programming-Fundamentals/blob/main/04_Data_Types_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Description**

Have you got your basic Python programming chops down but are yearning for more? Then this is the course for you. Herein, you'll consolidate and practice your knowledge of lists, dictionaries, tuples, sets, and date times. You'll see their relevance in working with lots of real data and how to leverage several of them in concert to solve multistep problems, including an extended case study using Chicago metropolitan area transit data. You'll also learn how to use many of the objects in the Python Collections module, which will allow you to store and manipulate your data for a variety of purposes. After taking this course, you'll be ready to tackle many data challenges Pythonically.

# CHAPTER 1: Fundamental Sequence Data Types

This chapter will introduce you to the fundamental Python data types - lists, sets, and strings. These data containers are critical as they provide the basis for storing and looping over ordered data. To make things interesting, you'll apply what you learn about these types to answer questions about the New York Baby Names dataset!

## Lesson 1: Introduction and lists

### Data types
* Data type system sets the stage for the capabilities of the language
* Understanding data types empowers you as a data scientist

### Container sequences
* Hold other types of data
* Used for aggregation, sorting, and more
* Can be mutable ( `list` , `set` ) or immutable ( `tuple` )
* Iterable

### Lists
* Hold data in order it was added
* Mutable
* Index

### Accessing single items in list

In [ ]:
cookies = ['chocolate chip', 'peanut butter', 'sugar']

In [ ]:
cookies.append('Tirggel')

In [ ]:
print(cookies)

['chocolate chip', 'peanut butter', 'sugar', 'Tirggel']

In [ ]:
print(cookies[2])

sugar

### Combining lists

* Using operators, you can combine two lists into a new one

In [ ]:
cakes = ['strawberry', 'vanilla']
desserts = cookies + cakes
print(desserts)

['chocolate chip', 'peanut butter', 'sugar', 'Tirggel', 'strawberry', 'vanilla']

* `.extend()` method merges a list into another list at the end

In [ ]:
cookies.extend(cakes)

### Finding elements in a list

`.index()` method locates the position of a data element in a
list

In [ ]:
position = cookies.index('sugar')
print(position)

2

### Removing elements in a List

`.pop()` method removes an item from a list and allows you
to save it

In [ ]:
name = cookies.pop(position)
print(name)

sugar

In [ ]:
print(cookies)

['chocolate chip', 'peanut butter', 'Tirggel', 'strawberry', 'vanilla']

### Iterating over lists

* **List comprehensions** are a common way of iterating over a list to perform some action on them

In [ ]:
titlecase_cookies = [cookie.title() for cookie in cookies]
print(titlecase_cookies)

['Chocolate Chip', 'Peanut Butter', 'Tirggel', 'Strawberry', 'Vanilla']

### Sorting lists

* `sorted()` function sorts data in numerical or alphabetical
order and returns a new list

In [ ]:
print(cookies)

['chocolate chip', 'peanut butter', 'Tirggel', 'strawberry', 'vanilla']

In [ ]:
sorted_cookies = sorted(cookies)
print(sorted_cookies)

['Tirggel', 'chocolate chip', 'peanut butter', 'strawberry', 'vanilla']

### Excercise 1: Manipulating lists for fun and profit

You may be familiar with adding individual data elements to a list by using the `.append()` method. However, if you want to combine a list with another array type (`list`, `set`, `tuple`), you can use the `.extend()` method on the list.

You can also use the `.index()` method to find the position of an item in a list. You can then use that position to remove the item with the `.pop()` method.

In this exercise, you'll practice using all these methods!

**Instructions**
* Create a list called `baby_names` with the names `'Ximena'`, `'Aliza'`, `'Ayden'`, and `'Calvin'`.
* Use the `.extend()` method on `baby_names` to add `'Rowen'` and `'Sandeep'` and print the list.
* Use the `.index()` method to find the position of `'Rowen'` in the list. Save the result as position.
* Use the `.pop()` method with position to remove 'Rowen' from the list.

In [ ]:
# Create a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(['Rowen', 'Sandeep'])

# Find the position of 'Rowen': position
position = baby_names.index('Rowen')

# Remove 'Rowen' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Sandeep']

### Excercise 2: Looping over lists

Previously, you've used a `for` loop to iterate over a list, but you can also use a list comprehension. List comprehensions take the form of `[action for item in list]` and return a new list.

We can use the `sorted()` function to sort the data in a list from lowest to highest in the case of numbers and alphabetical order if the list contains strings. The `sorted()` function returns a new list and does not affect the list you passed into the function. You can learn more about `sorted()` in the Python documentation.

A list of lists, `records` has been pre-loaded, and each entry is a list of this form:

`['2014','F','20799','Emma']`

In [ ]:
records = [['2014', 'F', '20799', 'Emma'],
            ['2014', 'F', '19674', 'Olivia'],
            ['2014', 'F', '18490', 'Sophia'],
            ['2014', 'F', '16950', 'Isabella'],
            ['2014', 'F', '15586', 'Ava'],
            ['2014', 'F', '13442', 'Mia'],
            ['2014', 'F', '12562', 'Emily'],
            ['2014', 'F', '11985', 'Abigail'],
            ['2014', 'F', '10247', 'Madison'],
            ['2014', 'F', '10048', 'Charlotte'],
            ['2014', 'F', '9564', 'Harper'],
            ['2014', 'F', '9542', 'Sofia'],
            ['2014', 'F', '9517', 'Avery'],
            ['2014', 'F', '9492', 'Elizabeth'],
            ['2014', 'F', '8727', 'Amelia'],
            ['2014', 'F', '8692', 'Evelyn'],
            ['2014', 'F', '8489', 'Ella'],
            ['2014', 'F', '8469', 'Chloe'],
            ['2014', 'F', '7955', 'Victoria'],
            ['2014', 'F', '7589', 'Aubrey'],
            ['2014', 'F', '7554', 'Grace'],
            ['2014', 'F', '7358', 'Zoey'],
            ['2014', 'F', '7061', 'Natalie'],
            ['2014', 'F', '6950', 'Addison'],
            ['2014', 'F', '6869', 'Lillian'],
            ['2014', 'F', '6767', 'Brooklyn']]

**Instructions**
* Use a list comprehension on `records` to create a list called `baby_names` that contains the name, found in the fourth element of `row`.
* Print `baby_names` in alphabetical order using the `sorted()` function.

In [ ]:
# Create the list comprehension: baby_names
baby_names = [row[3] for row in records]

# Print the sorted baby names in ascending alphabetical order
print(sorted(baby_names))

['Abigail', 'Addison', 'Amelia', 'Aubrey', 'Ava', 'Avery', 'Brooklyn', 'Charlotte', 'Chloe', 'Elizabeth', 'Ella', 'Emily', 'Emma', 'Evelyn', 'Grace', 'Harper', 'Isabella', 'Lillian', 'Madison', 'Mia', 'Natalie', 'Olivia', 'Sofia', 'Sophia', 'Victoria', 'Zoey']

## Lesson 2: Meet the tuples

### Tuple, tuple

* Hold data in order
* Index
* *Immutable*
* Pairing
* Unpackable

### Zipping tuples

* Tuples are commonly created by zipping lists together with
`zip()`
* Two lists: `us_cookies` , `in_cookies`

In [ ]:
us_cookies = ['chocolate chip', 'peanut butter', 'sugar']
in_cookies = ['raisin', 'chocolate chip', 'snickerdoodle']
top_pairs = list(zip(us_cookies, in_cookies))
print(top_pairs)

[('chocolate chip', 'raisin'), ('peanut butter', 'chocolate chip'), ('sugar', 'snickerdoodle')]

### Unpacking tuples

* Unpacking tuples is a very expressive way for working with data

In [ ]:
us_num_1, in_num_1 = top_pairs[0]
print(us_num_1)

chocolate chip

In [ ]:
print(in_num_1)

raisin

### More unpacking in Loops

* Unpacking is especially powerful in loops

In [ ]:
for us_cookie, in_cookie in top_pairs:
  print(in_cookie)
  print(us_cookie)

raisin
chocolate chip
chocolate chip
peanut butter
snickerdoodle
sugar

### Enumerating positions

* Another useful tuple creation method is the `enumerate()`
function
* Enumeration is used in loops to return the position and the data in that position while looping

In [ ]:
for idx, item in enumerate(top_pairs):
  us_cookie, in_cookie = item
  print(idx, us_cookie, in_cookie)

0 chocolate chip raisin
1 peanut butter chocolate chip
2 sugar snickerdoodle

### Be careful when making tuples

* Use `zip()` , `enumerate()` , or `()` to make tuples

In [ ]:
item = ('vanilla', 'chocolate')
print(item)

('vanilla', 'chocolate')

* Beware of tailing commas!

In [ ]:
item2 = 'butter',
print(item2)

('butter',)

### Excercise 1: Using and unpacking tuples

If you have a tuple like `('chocolate chip cookies', 15)` and you want to access each part of the data, you can use an index just like a list. However, you can also "unpack" the tuple into multiple variables such as `type, count = ('chocolate chip cookies', 15)` that will set `type` to `'chocolate chip cookies'` and `count` to `15`.

Often you'll want to pair up multiple array data types. The `zip()` function does just that. It will return a list of tuples containing one element from each list passed into `zip()`.

When looping over a list, you can also track your position in the list by using the `enumerate()` function. The function returns the index of the list item you are currently on in the list and the list item itself. (We'll talk more about the last line of code in our next lesson)

**Instructions**
* Use the `zip()` function to pair up `girl_names` and `boy_names` into a variable called pairs.
* Use a `for` loop to loop through `pairs`, using `enumerate()` to keep track of your position. Unpack `pairs` into the variables `rank` and `pair`.
* Unpack `pair` into the variables `girl_name` and `boy_name`.
* Print the rank, girl name, and boy name, in that order. The rank is contained in `rank`.

In [ ]:
girl_names = ['Jada',
            'Emily',
            'Ava',
            'Serenity',
            'Claire',
            'Sophia',
            'Sarah',
            'Ashley',
            'Chaya',
            'Abigail',
            'Zoe',
            'Leah',
            'Hailey',
            'Ava',
            'Olivia',
            'Emma',
            'Chloe',
            'Sophia',
            'Aaliyah',
            'Angela',
            'Camila',
            'Savannah',
            'Serenity',
            'Chloe',
            'Fatoumata']

In [ ]:
boy_names = ['Josiah',
          'Ethan',
          'David',
          'Jayden',
          'Mason',
          'Ryan',
          'Christian',
          'Isaiah',
          'Jayden',
          'Michael',
          'Noah',
          'Samuel',
          'Sebastian',
          'Noah',
          'Dylan',
          'Lucas',
          'Joshua',
          'Angel',
          'Jacob',
          'Matthew',
          'Josiah',
          'Jacob',
          'Muhammad',
          'Alexander',
          'Jason']

In [ ]:
# Pair up the girl and boy names: pairs
pairs = zip(girl_names, boy_names)

# Iterate over pairs
for rank, pair in enumerate(pairs):
    # Unpack pair: girl_name, boy_name
    girl_name, boy_name = pair
    # Print the rank and names associated with each rank
    print(f'Rank {rank+1}: {girl_name} and {boy_name}')

Rank 1: Jada and Josiah
Rank 2: Emily and Ethan
Rank 3: Ava and David
Rank 4: Serenity and Jayden
Rank 5: Claire and Mason
Rank 6: Sophia and Ryan
Rank 7: Sarah and Christian
Rank 8: Ashley and Isaiah
Rank 9: Chaya and Jayden
Rank 10: Abigail and Michael
Rank 11: Zoe and Noah
Rank 12: Leah and Samuel
Rank 13: Hailey and Sebastian
Rank 14: Ava and Noah
Rank 15: Olivia and Dylan
Rank 16: Emma and Lucas
Rank 17: Chloe and Joshua
Rank 18: Sophia and Angel
Rank 19: Aaliyah and Jacob
Rank 20: Angela and Matthew
Rank 21: Camila and Josiah
Rank 22: Savannah and Jacob
Rank 23: Serenity and Muhammad
Rank 24: Chloe and Alexander
Rank 25: Fatoumata and Jason

### Exercise 2: Making tuples by accident

Tuples are very powerful and useful, and it's super easy to make one by accident. All you have to do is create a variable and follow the assignment with a comma. This becomes an error when you try to use the variable later expecting it to be a string or a number.

You can verify the data type of a variable with the `type()` function. In this exercise, you'll see for yourself how easy it is to make a tuple by accident.

**Instructions**
* Create a variable named `normal` and set it equal to `'simple'`.
* Create a variable named `error` and set it equal to `'trailing comma',`.
* Print the type of the `normal` and `error` variables.

In [ ]:
# Create the normal variable: normal
normal = 'simple'

# Create the mistaken variable: error
error = 'trailing comma',

# Print the types of the variables
print(type(normal))
print(type(error))

<class 'str'>
<class 'tuple'>

## Lesson 3: Strings

### Creating formatted strings

* f-strings (formatted string literals) - `f""`

In [ ]:
cookie_name = "Anzac"
cookie_price = "$1.99"
print(f"Each { cookie_name } cookie costs { cookie_price }.")

Each Anzac cookie costs $1.99.

### Joining with strings

* `"".join()` uses the string it's called on to join an iterable

In [ ]:
child_ages = ["3", "4", "7", "8"]
print(", ".join(child_ages))

3, 4, 7, 8

In [ ]:
print(f"The children are ages {','.join(child_ages[0:3])}, and {child_ages[-1]}.")

The children are ages 3,4,7, and 8.

### Matching parts of a string

* `.startswith()` and `.endswith()` methods will tell you if a
string starts or ends with another character or string

In [ ]:
boy_names = ["Mohamed", "Youssef", "Ahmed"]
print([name for name in boy_names if name.startswith('A')])

['Ahmed']

* Be careful as these and most string functions are casesensitive.

### Searching for things in strings

* The `in` operator searches for some value in some iterable
type like a string.

In [ ]:
"long" in "Life is a long lesson in humility."

True

In [ ]:
"life" in "Life is a long lesson in humility."

False

### An approach to being case insensitive

* `.lower()` method returns a lower case string

In [ ]:
"life" in "Life is a long lesson in humility.".lower()

True

### Excercise 1: Formatted String Literals ("f" strings)

We've been using plain strings with `""` or `''` in this class so far, but there are several types of strings and blend variables with them. the most recent addition of a string type to Python is the "f-strings", which is short for formatted string literals. "F-strings" make it easy to mix strings with variables and formatting to help get exactly the output you want and you make them by prefacing the quotes with the letter f like `f""`. If you want to include a variable within a string you can use the `{}` around the variable in an f-string to insert the variable's value into the string itself. For example if we had a variable `count` with the number `12` stored it in, we could make an f-string like `f"{count} cookies"`, which would output the string `"12 cookies"` when printed. The list `top_ten_girl_names` contains tuples that correspond to the `top_ten_rank` and name for each position.

* Loop over the `top_ten_girl_names` list and use tuple unpacking to get the `top_ten_rank` and `name`.
* Print out each rank and name like this `Rank #: 1 - Jada` where the number 1 is the rank and Jada is the name.

In [ ]:
top_ten_girl_names = [(1, 'Jada'),
                      (2, 'Emily'),
                      (3, 'Ava'),
                      (4, 'Serenity'),
                      (5, 'Claire'),
                      (6, 'Sophia'),
                      (7, 'Sarah'),
                      (8, 'Ashley'),
                      (9, 'Chaya'),
                      (10, 'Abigail')]

In [ ]:
# Loop over top_ten_girl_names and unpack each tuple into top_ten_rank and name
for top_ten_rank, name in top_ten_girl_names:
  	# Print each name in the proper format
    print(f"Rank #: {top_ten_rank} - {name}")

Rank #: 1 - Jada
Rank #: 2 - Emily
Rank #: 3 - Ava
Rank #: 4 - Serenity
Rank #: 5 - Claire
Rank #: 6 - Sophia
Rank #: 7 - Sarah
Rank #: 8 - Ashley
Rank #: 9 - Chaya
Rank #: 10 - Abigail

### Excercise 2: Combining multiple strings

F strings work great for a few variables, but what if you want to combine a whole list of variables into a string. You can use the `"".join()` method for just that. You put what you want to join the list items with inside the `""` and then pass the list into the `join()` method. For example, if you want to join all the items in a list named cookies with a comma and space it would look like `", ".join(cookies)`.

In this exercise, you'll use these skills to convert a list of the top ten boy names into a sentence stored in a string.

**Instructions**
* Make a string that contains: `The top ten boy names are:` and store it as `preamble`.
* Make a string that contains: `, and` and store it as conjunction.
* Make a string that combines the first 9 names in `boy_names` list with a comma and store it as `first_nine_names`.
* Make an f-string that contains preamble, `first_nine_names`, `conjunction`, the final item in `boy_names` and a period.

In [ ]:
boy_names = ['Josiah',
            'Ethan',
            'David',
            'Jayden',
            'Mason',
            'Ryan',
            'Christian',
            'Isaiah',
            'Jayden',
            'Michael']

In [ ]:
# The top ten boy names are:  as preamble
preamble = "The top ten boy names are: "

# , and as conjunction
conjunction = ", and"

# Combines the first 9 names in boy_names with a comma and space as first_nine_names
first_nine_names = ", ".join(boy_names[0:9])

# Print f-string preamble, first_nine_names, conjunction, the final item in boy_names and a period
print(f"{preamble}{first_nine_names}{conjunction} {boy_names[-1]}.")

The top ten boy names are: Josiah, Ethan, David, Jayden, Mason, Ryan, Christian, Isaiah, Jayden, and Michael.

### Excercise 3: Finding strings in other strings

Many times when we are working with strings, we care about which characters are in the string. For example, we may want to know how many cookies in a list of cookies have the word `Chocolate` in them, or how many start with the letter `C`. We can perform these checks by using the in keyword and the `.startswith()` method on a string. We can also use conditionals on a list comprehension in the form of `[action for item in list if something is true]`. Using our cookies examples, it would be something like` [cookie_name for cookie_name in cookies if 'chocolate' in cookie_name.lower()]`. Note these checks are case sensitive so we're using the `.lower()` method on the string. We can also "chain" methods together by calling them one after the other.

**Instructions**
* Store and print a list of `girl_names` that start with `s`.
* Store and print a list of `girl_names` with `angel` in them.

In [ ]:
girl_names = ['Jada',
            'Emily',
            'Ava',
            'Serenity',
            'Claire',
            'Sophia',
            'Sarah',
            'Ashley',
            'Chaya',
            'Abigail',
            'Zoe',
            'Leah',
            'Hailey',
            'Ava',
            'Olivia',
            'Emma',
            'Chloe',
            'Sophia',
            'Aaliyah',
            'Angela',
            'Camila',
            'Savannah',
            'Serenity',
            'Fatoumata']

In [ ]:
# Store a list of girl_names that start with s: names_with_s
names_with_s = [name for name in girl_names if name.lower().startswith('s')]

print(names_with_s)

# Store a list of girl_names that contain angel: names_with_angel
names_with_angel = [name for name in girl_names if 'angel' in name.lower()]

print(names_with_angel)

['Serenity', 'Sophia', 'Sarah', 'Sophia', 'Savannah', 'Serenity']
['Angela']

# CHAPTER 2: Dictionaries - The Root of Python

At the root of all things Python is a dictionary. Herein, you'll learn how to use them to safely handle data that can viewed in a variety of ways to answer even more questions about the New York Baby Names dataset. You'll explore how to loop through data in a dictionary, access nested data, add new data, and come to appreciate all of the wonderful capabilities of Python dictionaries.

## Lesson 1: Using dictionaries

### Creating and looping through dictionaries

* Hold data in key/value pairs
* Nestable (use a dictionary as the value of a key within a dictionary)
* Iterable
* Created by `dict()` or `{}`

In [ ]:
galleries = ( ('A', 1), ('B', 2), ('C', 3))

In [ ]:
art_galleries = {}
for name, zip_code in galleries:
  art_galleries[name] = zip_code

### Printing in the loop

In [ ]:
for name in sorted(art_galleries)[-5:]:
  print(name)

A
B
C

### Safely finding by key

In [ ]:
art_galleries['Louvre']

KeyError: 'Louvre'

* Getting a value from a dictionary is done using the key as an index
* If you ask for a key that does not exist that will stop your program from running in a KeyError
* `.get()` method allows you to safely access a key without error or exception handling
* If a key is not in the dictionary, `.get()` returns `None` by
default or you can supply a value to return

In [ ]:
art_galleries.get('Louvre', 'Not Found')

'Not Found'

In [ ]:
art_galleries.get('Zarre Andre Gallery')

### Excercise 1: Creating and looping through dictionaries

You'll often encounter the need to loop over some array type data, like in Chapter 1, and provide it some structure so you can find the data you desire quickly.

You start that by creating an empty dictionary and assigning part of your array data as the key and the rest as the value.

Previously, you used `sorted()` to organize your data in a list. Dictionaries can also be sorted. By default, using `sorted()` on a dictionary will sort by the keys of the dictionary.

The goal of this exercise is to get familiar with building dictionaries via looping over some data source, and then looping over the dictionary to use that data.

**Instructions**
* Create an empty dictionary called `squirrels_by_park`.
* Loop over `squirrels`, unpacking it into the variables `park` and `squirrel_details`.
* Inside the loop, add each `squirrel_details` to the `squirrels_by_park` dictionary using the `park` as the key.
* Sort the `squirrel_details` dictionary keys in ascending order, print each park and its value using an F string..

In [ ]:
squirrels = [('Marcus Garvey Park', ('Black', 'Cinnamon', 'Cleaning', None)),
              ('Highbridge Park',   ('Gray',  'Cinnamon', 'Running, Eating',
                                      'Runs From, watches us in short tree')),
              ('Madison Square Park', ('Gray', None, 'Foraging', 'Indifferent')),
              ('City Hall Park', ('Gray', 'Cinnamon', 'Eating', 'Approaches')),
              ('J. Hood Wright Park', ('Gray', 'White', 'Running', 'Indifferent')),
              ('Seward Park', ('Gray', 'Cinnamon', 'Eating', 'Indifferent')),
              ('Union Square Park', ('Gray', 'Black', 'Climbing', None)),
              ('Tompkins Square Park', ('Gray', 'Gray', 'Lounging', 'Approaches'))]

In [ ]:
# Create an empty dictionary: squirrels_by_park
squirrels_by_park = {}

# Loop over the squirrels list and unpack each tuple
for park, squirrel_details in squirrels:
    # Add each squirrel_details to the squirrels_by_park dictionary
    squirrels_by_park[park] = squirrel_details

# Sort the squirrels_by_park dict alphabetically by park
for park in sorted(squirrels_by_park):
    # Print each park and its value in squirrels_by_park
    print(f'{park}: {squirrels_by_park[park]}')

City Hall Park: ('Gray', 'Cinnamon', 'Eating', 'Approaches')
Highbridge Park: ('Gray', 'Cinnamon', 'Running, Eating', 'Runs From, watches us in short tree')
J. Hood Wright Park: ('Gray', 'White', 'Running', 'Indifferent')
Madison Square Park: ('Gray', None, 'Foraging', 'Indifferent')
Marcus Garvey Park: ('Black', 'Cinnamon', 'Cleaning', None)
Seward Park: ('Gray', 'Cinnamon', 'Eating', 'Indifferent')
Tompkins Square Park: ('Gray', 'Gray', 'Lounging', 'Approaches')
Union Square Park: ('Gray', 'Black', 'Climbing', None)

### Excercise: Safely finding by key

As demonstrated in the video, if you attempt to access a key that isn't present in a dictionary, you'll get a `KeyError`. One option to handle this type of error is to use a `try: except:` block. You can learn more about error handling in Python Data Science Toolbox (Part 1).

Python provides a faster, more versatile tool to help with this problem in the form of the `.get()` method. The `.get()` method allows you to supply the name of a key, and optionally, what you'd like to have returned if the key is not found.

You'll be using same `squirrels_by_park` dictionary, which is keyed by the park name and the value is a tuple with the main color, highlights, action, and reaction to humans, and will gain practice using the `.get()` method.

**Instructions**
* Safely print `'Union Square Park'` from the `squirrels_by_park` dictionary .
* Safely print the type of `'Fort Tryon Park'` from the `squirrels_by_park` dictionary.
* Safely print `'Central Park'` from the `squirrels_by_park` dictionary or `'Not Found'`.

In [ ]:
# Safely print 'Union Square Park' from the squirrels_by_park dictionary
print(squirrels_by_park.get('Union Square Park'))

# Safely print the type of 'Fort Tryon Park' from the squirrels_by_park dictionary
print(type(squirrels_by_park.get('Fort Tryon Park')))

# Safely print 'Central Park' from the squirrels_by_park dictionary or 'Not Found'
print(squirrels_by_park.get('Central Park', 'Not Found'))

('Gray', 'Black', 'Climbing', None)
<class 'NoneType'>
Not Found

## Lesson 2: Altering dictionaries

### Adding and extending dictionaries

* Assignment to add a new key/value to a dictionary
* `.update()` method to update a dictionary from another dictionary, tuples or keywords

In [ ]:
galleries_10007 = {'Nyabinghi Africian Gift Shop': '(212) 566-3336'}
print(galleries_10007)

{'Nyabinghi Africian Gift Shop': '(212) 566-3336'}

In [ ]:
art_galleries['10007'] = galleries_10007

### Updating a dictionary

In [ ]:
galleries_11234 = [
('A J ARTS LTD', '(718) 763-5473'),
('Doug Meyer Fine Art', '(718) 375-8006'),
('Portrait Gallery', '(718) 377-8762')]
art_galleries['10007'].update(galleries_11234)
print(art_galleries['10007'])

{'Nyabinghi Africian Gift Shop': '(212) 566-3336', 'A J ARTS LTD': '(718) 763-5473', 'Doug Meyer Fine Art': '(718) 375-8006', 'Portrait Gallery': '(718) 377-8762'}

In [ ]:
art_galleries

{'A': 1,
 'B': 2,
 'C': 3,
 '10007': {'Nyabinghi Africian Gift Shop': '(212) 566-3336'}}

### Popping and deleting from dictionaries

* `del` instruction deletes a key/value
* `.pop()` method safely removes a key/value from a
dictionary.

In [ ]:
del art_galleries['11234']
galleries_10310 = art_galleries.pop('10310')
print(galleries_10310)

NameError: name 'art_galleries' is not defined

### Excercise 1: Adding and extending dictionaries

If you have a dictionary and you want to add data to it, you can simply create a new key and assign the data you desire to it. It's important to remember that if it's a nested dictionary, then all the keys in the data path must exist, and each key in the path must be assigned individually.

You can also use the `.update()` method to update a dictionary with a list of keys and values from another dictionary, tuples or keyword arguments.

The `squirrels_by_park` dictionary is already loaded for you, which is keyed by the park name and the value is a tuple with the main color, highlights, action, and reaction to humans.

In [ ]:
squirrels_by_park = {'Union Square Park': []}
squirrels_madison = [{'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': None,
                      'activities': 'Sitting',
                      'interactions_with_humans': 'Indifferent'},
                    {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': 'Cinnamon',
                      'activities': 'Foraging',
                      'interactions_with_humans': 'Indifferent'},
                    {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': None,
                      'activities': 'Climbing, Foraging',
                      'interactions_with_humans': 'Indifferent'}]
squirrels_union = ('Union Square Park',
                    [{'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': None,
                      'activities': 'Eating, Foraging',
                      'interactions_with_humans': None},
                      {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': 'Cinnamon',
                      'activities': 'Climbing, Eating',
                      'interactions_with_humans': None},
                      {'primary_fur_color': 'Cinnamon',
                      'highlights_in_fur_color': None,
                      'activities': 'Foraging',
                      'interactions_with_humans': 'Indifferent'},
                      {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': None,
                      'activities': 'Running, Digging',
                      'interactions_with_humans': 'Runs From'},
                      {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': None,
                      'activities': 'Digging',
                      'interactions_with_humans': 'Indifferent'},
                      {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': 'Black',
                      'activities': 'Climbing',
                      'interactions_with_humans': None},
                      {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': None,
                      'activities': 'Eating, Foraging',
                      'interactions_with_humans': None}])

**Instructions**
* Assign the `squirrels_madison` list as the value to the `'Madison Square Park'` key of the `squirrels_by_park` dictionary.
* Update the `'Union Square Park'` key in the `squirrels_by_park` dictionary with the data in the `squirrels_union` tuple.
* Loop over the `squirrels_by_park` dictionary.
  * Print the `park_name` and a list of all `primary_fur_colors` for squirrels safely in that park using a list comprehension; return `'N/A'` if the key isn't found.

In [ ]:
# Assign squirrels_madison as the value to the 'Madison Square Park' key
squirrels_by_park['Madison Square Park'] = squirrels_madison

# Update squirrels_by_park with the squirrels_union tuple
squirrels_by_park.update([squirrels_union])

# Loop over the park_name in the squirrels_by_park dictionary
for park_name in squirrels_by_park:
    # Safely print a list of the primary_fur_color for each squirrel in park_name
    print(park_name, [squirrel.get('primary_fur_color', 'N/A') for squirrel in squirrels_by_park[park_name]])

Union Square Park ['Gray', 'Gray', 'Cinnamon', 'Gray', 'Gray', 'Gray', 'Gray']
Madison Square Park ['Gray', 'Gray', 'Gray']

### Excercise 2: Popping and deleting from dictionaries

Often, you will want to remove keys and value from a dictionary. You can do so using the `del` Python instruction. It's important to remember that `del` will throw a `KeyError` if the key you are trying to delete does not exist. You can not use it with the `.get()` method to safely delete items; however, it can be used with `try: catch:`.

If you want to save that deleted data into another variable for further processing, the `.pop()` dictionary method will do just that. You can supply a default value for `.pop()` much like you did for `.get()` to safely deal with missing keys. It's also typical to use `.pop()` instead of del since it is a safe method.

**Instructions**
* Remove `"Madison Square Park"` from `squirrels_by_park` and store it as `squirrels_madison`.
* Safely remove `"City Hall Park"` from `squirrels_by_park` with a empty dictionary as the default and store it as `squirrels_city_hall`. To do this, pass in an empty dictionary `{}` as a second argument to `.pop()`.
* Delete `"Union Square Park"` from `squirrels_by_park`.
* Print `squirrels_by_park`.

In [ ]:
squirrels_by_park = {'Madison Square Park': [{'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': None,
                          'activities': 'Foraging',
                          'interactions_with_humans': 'Indifferent'},
                          {'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': None,
                          'activities': 'Sitting',
                          'interactions_with_humans': 'Indifferent'}],
                        'Tompkins Square Park': [{'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': 'Gray',
                          'activities': 'Foraging',
                          'interactions_with_humans': 'Approaches'},
                          {'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': 'Gray',
                          'activities': 'Climbing (down tree)',
                          'interactions_with_humans': 'Indifferent'},
                          {'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': 'Gray',
                          'activities': 'Foraging',
                          'interactions_with_humans': 'Indifferent'},
                          {'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': 'Gray',
                          'activities': 'Foraging',
                          'interactions_with_humans': 'Indifferent'}],
                        'Union Square Park': [{'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': None,
                          'activities': 'Eating, Foraging',
                          'interactions_with_humans': None},
                          {'primary_fur_color': 'Cinnamon',
                          'highlights_in_fur_color': None,
                          'activities': 'Foraging',
                          'interactions_with_humans': None},
                          {'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': None,
                          'activities': 'Eating, Foraging',
                          'interactions_with_humans': None},
                          {'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': None,
                          'activities': 'Digging',
                          'interactions_with_humans': 'Indifferent'}]}

In [ ]:
# Remove "Madison Square Park" from squirrels_by_park
squirrels_madison = squirrels_by_park.pop("Madison Square Park")

# Safely remove "City Hall Park" from squirrels_by_park with an empty dictionary as the default
squirrels_city_hall = squirrels_by_park.pop("City Hall Park", {})

# Delete "Union Square Park" from squirrels_by_park
del squirrels_by_park["Union Square Park"]

# Print squirrels_by_park
print(squirrels_by_park)

{'Tompkins Square Park': [{'primary_fur_color': 'Gray', 'highlights_in_fur_color': 'Gray', 'activities': 'Foraging', 'interactions_with_humans': 'Approaches'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': 'Gray', 'activities': 'Climbing (down tree)', 'interactions_with_humans': 'Indifferent'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': 'Gray', 'activities': 'Foraging', 'interactions_with_humans': 'Indifferent'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': 'Gray', 'activities': 'Foraging', 'interactions_with_humans': 'Indifferent'}]}

## Lesson 2: Pythonically using dictionaries

### Working with dictionaries more pythonically

* `.items()` method returns an object we can iterate over

In [ ]:
art_galleries = {'Miakey Art Gallery': '(718) 686-0788',
                 'Morning Star Gallery Ltd' : '(212) 334-9330',
                 'New York Art Expo Inc'  : '(212) 363-8280'}

In [ ]:
for gallery, phone_num in art_galleries.items():
  print(gallery)
  print(phone_num)

Miakey Art Gallery
(718) 686-0788
Morning Star Gallery Ltd
(212) 334-9330
New York Art Expo Inc
(212) 363-8280

### Checking dictionaries for data

* `.get()` does a lot of work to check for a key
* `in` operator is much more efficient and clearer

In [ ]:
art_galleries = {'10001': {'Miakey Art Gallery': '(718) 686-0788'},
                 '10002': {'Morning Star Gallery Ltd' : '(212) 334-9330'},
                 '10010': {'New York Art Expo Inc'  : '(212) 363-8280'}}

In [ ]:
'11234' in art_galleries

False

In [ ]:
if '10010' in art_galleries:
  print('I found: %s' % art_galleries['10010'])
else:
  print('No galleries found.')

I found: {'New York Art Expo Inc': '(212) 363-8280'}

### Excercise 1: Working with dictionaries more pythonically

So far, you've worked a lot with the keys of a dictionary to access data, but in Python, the preferred manner for iterating over items in a dictionary is with the `.items()` method.

This returns each key and value from the dictionary as a tuple, which you can unpack in a `for` loop. You'll now get practice doing this.

We've loaded a `squirrels_by_park` dictionary, and the `Madison Square Park` key contains a list of dictionaries.

In [ ]:
squirrels_by_park = {'Madison Square Park': [{'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': None,
                          'activities': 'Foraging',
                          'interactions_with_humans': 'Indifferent'},
                          {'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': None,
                          'activities': 'Sitting',
                          'interactions_with_humans': 'Indifferent'}],
                        'Union Square Park': [{'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': None,
                          'activities': 'Eating, Foraging',
                          'interactions_with_humans': None},
                          {'primary_fur_color': 'Cinnamon',
                          'highlights_in_fur_color': None,
                          'activities': 'Foraging',
                          'interactions_with_humans': None},
                          {'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': None,
                          'activities': 'Eating, Foraging',
                          'interactions_with_humans': None},
                          {'primary_fur_color': 'Gray',
                          'highlights_in_fur_color': None,
                          'activities': 'Digging',
                          'interactions_with_humans': 'Indifferent'}]}

**Instructions**
* Iterate over the first record in `squirrels_by_park["Madison Square Park"]`, unpacking its items into `field` and `value`.
  * Print each `field` and `value`.
* Repeat the process for the second record in `squirrels_by_park["Union Square Park"]`.

In [ ]:
# Iterate over the first squirrel entry in the Madison Square Park list
for field, value in squirrels_by_park["Madison Square Park"][0].items():
    # Print field and value
    print(field, value)

print('-' * 13)

# Iterate over the second squirrel entry in the Union Square Park list
for field, value in squirrels_by_park["Union Square Park"][1].items():
    # Print field and value
    print(field, value)

primary_fur_color Gray
highlights_in_fur_color None
activities Foraging
interactions_with_humans Indifferent
-------------
primary_fur_color Cinnamon
highlights_in_fur_color None
activities Foraging
interactions_with_humans None

### Excercise 2: Checking dictionaries for data

You can check to see if a key exists in a dictionary by using the in expression.

For example, you can check to see if `'cookies'` is a key in the `recipes` dictionary by using `if 'cookies' in recipes:` this allows you to safely react to data being present in the dictionary.

We've loaded a `squirrels_by_park` dictionary with park names for the keys and a list of dictionaries of the squirrels.

In [ ]:
squirrels_by_park = {'Tompkins Square Park': [{'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': 'Gray',
                        'activities': 'Foraging',
                        'interactions_with_humans': 'Approaches'},
                        {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': 'Gray',
                        'activities': 'Climbing (down tree)',
                        'interactions_with_humans': 'Indifferent'},
                        {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': 'Gray',
                        'activities': 'Foraging',
                        'interactions_with_humans': 'Indifferent'},
                        {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': 'Gray',
                        'activities': 'Foraging',
                        'interactions_with_humans': 'Indifferent'}],
                      'Union Square Park': [{'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': None,
                        'activities': 'Eating, Foraging',
                        'interactions_with_humans': None},
                        {'primary_fur_color': 'Cinnamon',
                        'highlights_in_fur_color': None,
                        'activities': 'Foraging',
                        'interactions_with_humans': None},
                        {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': None,
                        'activities': 'Eating, Foraging',
                        'interactions_with_humans': None},
                        {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': None,
                        'activities': 'Digging',
                        'interactions_with_humans': 'Indifferent'}]}

**Instructions**
* Check to see if `Tompkins Square Park` is in the `squirrels_by_park` dictionary, and print `'Found Tompkins Square Park'` if it is present.
* Check to see if `Central Park` is in `squirrels_by_park`. Then, print `'Found Central Park'` if found and `'Central Park missing'` if not found.

In [ ]:
# Check to see if Tompkins Square Park is in squirrels_by_park
if "Tompkins Square Park" in squirrels_by_park:
    # Print 'Found Tompkins Square Park'
    print('Found Tompkins Square Park')

# Check to see if Central Park is in squirrels_by_park
if "Central Park" in squirrels_by_park:
    # Print 'Found Central Park' if found
    print('Found Central Park')
else:
    # Print 'Central Park missing' if not found
    print('Central Park missing')

Found Tompkins Square Park
Central Park missing

## Lesson 3: Mixed data types in dictionaries

### Working with nested dictionaries

In [ ]:
art_galleries = {'10001': {'Miakey Art Gallery': '(718) 686-0788'},
                 '10002': {'Morning Star Gallery Ltd' : '(212) 334-9330'},
                 '10010': {'New York Art Expo Inc'  : '(212) 363-8280'},
                 '10027': {"Paige's Art Gallery": '(212) 531-1577',
                            'Triple Candie': '(212) 865-0783',
                            'Africart Motherland Inc': '(212) 368-6802',
                            'Inner City Art Gallery Inc': '(212) 368-4941'}}

In [ ]:
art_galleries.keys()

dict_keys(['10001', '10002', '10010', '10027'])

In [ ]:
print(art_galleries['10027'])

{"Paige's Art Gallery": '(212) 531-1577', 'Triple Candie': '(212) 865-0783', 'Africart Motherland Inc': '(212) 368-6802', 'Inner City Art Gallery Inc': '(212) 368-4941'}

* The `.keys()` method shows the keys for a given dictionary

### Accessing nested data

In [ ]:
art_galleries['10027']['Inner City Art Gallery Inc']

'(212) 368-4941'

* Common way to deal with repeating data structures
* Can be accessed using multiple indices or the `.get()` method

### Excercise 1: Dealing with nested dictionaries

A dictionary can contain another dictionary as the value of a key, and this is a very common way to deal with repeating data structures such as yearly, monthly or weekly data. All the same rules apply when creating or accessing the dictionary.

For example, if you had a dictionary that had a ranking of my cookie consumption by year and type of cookie. It might look like `cookies = {'2017': {'chocolate chip': 483, 'peanut butter': 115}, '2016': {'chocolate chip': 9513, 'peanut butter': 6792}}`. I could access how many chocolate chip cookies I ate in 2016 using `cookies['2016']['chocolate chip']`.

When exploring a new dictionary, it can be helpful to use the `.keys()` method to get an idea of what data might be available within the dictionary. You can also iterate over a dictionary and it will return each key in the dictionary for you to use inside the loop.

We've loaded a `squirrels_by_park` dictionary with park names for the keys and a nested dictionary of one squirrels data.

In [ ]:
squirrels_by_park = {'J. Hood Wright Park': {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': 'Cinnamon',
                        'activities': 'Running',
                        'interactions_with_humans': 'Indifferent'},
                      'Stuyvesant Square Park': {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': 'Cinnamon',
                        'activities': 'Foraging',
                        'interactions_with_humans': 'Indifferent'},
                      'Highbridge Park': {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': 'White',
                        'activities': 'Climbing',
                        'interactions_with_humans': None},
                      'Tompkins Square Park': {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': 'Gray',
                        'activities': 'Foraging',
                        'interactions_with_humans': None},
                      'Union Square Park': {'primary_fur_color': 'Gray',
                        'activities': 'Eating, Foraging',
                        'interactions_with_humans': None},
                      'City Hall Park': {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': 'White',
                        'activities': 'Eating, Foraging',
                        'interactions_with_humans': 'Indifferent'},
                      'Msgr. McGolrick Park': {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': 'Cinnamon',
                        'activities': 'Running',
                        'interactions_with_humans': 'Indifferent'},
                      'John V. Lindsay East River Park': {'primary_fur_color': 'Gray',
                        'highlights_in_fur_color': 'Gray',
                        'activities': 'Running, Chasing, Eating',
                        'interactions_with_humans': None}}

* Print the keys of the `squirrels_by_park` dictionary, NOTE: They are park_names.
* Print the keys of the `squirrels_by_park` dictionary for the `park_name` `Union Square Park`.
* Loop over the `squirrels_by_park` dictionary.
  * Inside the loop, safely print the `park_name` and the `highlights_in_fur_color`. Print `'N/A'` if the `highlightsinfur_color` is not found or None.

In [ ]:
# Print a list of keys from the squirrels_by_park dictionary
print(squirrels_by_park.keys())

# Print the keys from the squirrels_by_park dictionary for 'Union Square Park'
print(squirrels_by_park['Union Square Park'].keys())

# Loop over the dictionary
for park_name in squirrels_by_park:
    # Safely print the park_name and the highlights_in_fur_color or 'N/A'
    print(park_name, squirrels_by_park[park_name].get('highlights_in_fur_color', 'N/A'))

dict_keys(['J. Hood Wright Park', 'Stuyvesant Square Park', 'Highbridge Park', 'Tompkins Square Park', 'Union Square Park', 'City Hall Park', 'Msgr. McGolrick Park', 'John V. Lindsay East River Park'])
dict_keys(['primary_fur_color', 'activities', 'interactions_with_humans'])
J. Hood Wright Park Cinnamon
Stuyvesant Square Park Cinnamon
Highbridge Park White
Tompkins Square Park Gray
Union Square Park N/A
City Hall Park White
Msgr. McGolrick Park Cinnamon
John V. Lindsay East River Park Gray

### Excercise 2: Dealing with nested mixed types

Previously, we used the `in` expression so see if data is in a dictionary such as `if 'cookies' in recipes_dict`. However, what if we want to find data in a dictionary key that is a list of dictionaries? In that scenario, we can use a `for` loop to loop over the items in the nested list and operate on them. Additionally, we can leverage list comprehensions to effectively filter nested lists of dictionaries. For example: `[cookie for cookie in recipes["cookies"] if "chocolate chip" in cookie["name"]]` would return a list of cookies in recipes list that have chocolate chip in the name key of the cookie.

We've loaded a `squirrels_by_park` dictionary with park names for the keys and a list of dictionaries of the squirrels.

In [ ]:
squirrels_by_park = {'Tompkins Square Park': [{'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': 'Gray',
                      'activities': 'Foraging',
                      'interactions_with_humans': 'Approaches'},
                      {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': 'Gray',
                      'activities': 'Climbing (down tree)',
                      'interactions_with_humans': 'Indifferent'},
                      {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': 'Gray',
                      'interactions_with_humans': 'Indifferent'},
                      {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': 'Gray',
                      'activities': 'Foraging',
                      'interactions_with_humans': 'Indifferent'}],
                    'Union Square Park': [{'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': None,
                      'activities': 'Eating, Foraging',
                      'interactions_with_humans': None},
                      {'primary_fur_color': 'Cinnamon',
                      'highlights_in_fur_color': None,
                      'activities': 'Foraging',
                      'interactions_with_humans': None},
                      {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': None,
                      'activities': 'Eating, Foraging',
                      'interactions_with_humans': None},
                      {'primary_fur_color': 'Gray',
                      'highlights_in_fur_color': None,
                      'activities': 'Digging',
                      'interactions_with_humans': 'Indifferent'}]}

**Instructions**
* Use a `for` loop to iterate over the squirrels found in the `Tompkins Square Park` key of `squirrels_by_park`:
  * Safely print each activities of each squirrel.
* Print the list of `'Cinnamon'` `primary_fur_color` squirrels found in `Union Square Park` using a list comprehension.

In [ ]:
# Use a for loop to iterate over the squirrels in Tompkins Square Park:
for squirrel in squirrels_by_park["Tompkins Square Park"]:
	# Safely print the activities of each squirrel or None
    print(squirrel.get("activities"))

# Print the list of 'Cinnamon' primary_fur_color squirrels in Union Square Park
print([squirrel for squirrel in squirrels_by_park["Union Square Park"] if "Cinnamon" in squirrel["primary_fur_color"]])

Foraging
Climbing (down tree)
None
Foraging
[{'primary_fur_color': 'Cinnamon', 'highlights_in_fur_color': None, 'activities': 'Foraging', 'interactions_with_humans': None}]

# CHAPTER 3: Numeric Data Types, Booleans, and Sets

Let's take a step away from dictionaries and look at some other common numeric and boolean data types along with sets

## Lesson 1: Numeric data types

### Built in numeric types

**Integer**
* Whole numbers
* Large values

In [ ]:
int(123456789123456789)

123456789123456789

**Float**
* Fractional amounts
(approximation)
* Scientific notation

In [ ]:
float(123456789123456789)

1.2345678912345678e+17

**Decimals**
* Exact precision
* Currency operations

In [ ]:
from decimal import Decimal
Decimal('123456789123456789')

Decimal('123456789123456789')

**Printing floats**

In [ ]:
print(0.00001)

1e-05

In [ ]:
print(f"{0.00001:f}")

0.000010

In [ ]:
print(f"{0.0000001:f}")

0.000000

In [ ]:
print(f"{0.0000001:.7f}")

0.0000001

### Python division types

In [ ]:
4/2

2.0

In [ ]:
4//2

2

In [ ]:
7//3

2

### Excercise 1: Printing floats

Scientific notation is a powerful tool for representing numbers, but it can be confusing to handle when trying to print float values. However, we can use the f strings we learned about previously to make sure we get them printed properly every time by using a format specifier. For example, if we wanted to format a variable in an f string as a float, we can use the f format specifier, such as: `print(f"{some_variable:f}")`. It also takes an operation precision on the float format specifier, for example, `print(f"{some_variable:.4f}")` would print four decimal places of precision.

**Instructions**
* Print `float1`, `float2`, and `float3` notice where the jump to scientific notation occurs.
* Print `float2` and `float3` using the default float format specifier, and notice what happened to `float3`.
* Print `float3` with the float format specifier and a precision of `7`.

In [ ]:
float1 = 0.0001
float2 = 0.00001
float3 = 0.0000001

In [ ]:
# Print floats 1, 2, and 3
print(float1)
print(float2)
print(float3)

# Print floats 2 and 3 using the f string formatter
print(f"{float2: f}")
print(f"{float3: f}")

# Print float 3 with a 7 f string precision
print(f"{float3: 0.7f}")

0.0001
1e-05
1e-07
 0.000010
 0.000000
 0.0000001

### Excercise 2: Division with integers and floats

Python supports two different division operators: `/` and `//`. In Python 3, `/` will consistently return a float result, and `//` is floor division and will consistently return an integer result. Floor division is the same as doing `math.floor(numerator/divisor)`, which returns the highest integer less than or equal to the result of the division operation. You can learn more about `math.floor` in the [Python Docs](https://docs.python.org/3/library/math.html#math.floor).

**Instructions**
* Print the result of `2/1` and `1/2`.
* Print the floored division result of `2//1` and `1//2`.
* Print the type of `2/1` and `2//1`.

In [ ]:
# Print the result of 2/1 and 1/2
print(2/1)
print(1/2)

# Print the floored division result of 2//1 and 1//2
print(2//1)
print(1//2)

# Print the type of 2/1 and 2//1
print(type(2/1))
print(type(2//1))

2.0
0.5
2
0
<class 'float'>
<class 'int'>

## Lesson 2: Booleans - The logical data type

### Booleans as a data type

* `True`
* `False`
Notice the capitalization as this can trip you up when switching
between Python and other languages.

In [ ]:
out_of_cookies = True
if out_of_cookies:
  print("Run to the store NOW!")

Run to the store NOW!

### Truthy and Falsey

* Truthy values are ones that will return true
* Falsey values will evaluate to false

In [ ]:
apples=2
if apples:
  print("We have apples.")

We have apples.

In [ ]:
apples=0
if apples:
  print('We have apples.')

**Truthy**
* `1`
* `"Cookies"`
* `["Cake", "Pie"]`
* `{"key": "value"}`

**Falsey**
* `0`
* `""`
* `[]`
* `{}`
* `None`

### Operators - a boolean evaluation context

In [ ]:
cookie_qty = 3
cookie_qty == 3

True

* `==` equal to
* `!=` not equal to
* `<` less than
* `<=` less than or equal to
* `>` greater than
* `>=` greater than or equal to

### Floats are approximately an issue

In [ ]:
x = 0.1 + 1.1
x == 1.2

False

In [ ]:
print(x)

1.2000000000000002

**Be careful with equality comparisons of floats!**

### Excercise 1: More than just true and false

Python has two boolean values available for you to use: `True` and `False`. Most commonly these boolean values are used to indicate that something is on or off, yes or no, or similar states. Additionally, many python types return "truthy" or "falsey" values depending on their condition when evaluated using the `bool()` function.

**Instructions**
* Create an empty list called `my_list`
* Print the truthiness of `my_list`.
* Append the string `'cookies'` to `my_list`
* Print the truthiness of `my_list`.

In [ ]:
# Create an empty list
my_list = []

# Check the truthiness of my_list
print(bool(my_list))

# Append the string 'cookies' to my_list
my_list.append('cookies')

# Check the truthiness of my_list
print(bool(my_list))

False
True

### Excercise 2: Comparisons

Booleans and their truthiness are most often used in comparisions, and we use comparisions without even thinking about their underlying data type. To perform a comparision, we can use a comparision operator. Python supports the following comparision operators:

* `==` equal to
* `!=` not equal to
* `>` greater than
* `<` less than
* `>=` greater than or equal to
* `<=` less than or equal to

For this exercise, we'll be using a subset of the Palmer Archipelago (Antarctica) penguin data set, named `penguins`, as a list of dictionaries with the keys of `species`, `flipper_length`, `body_mass` and `sex`.

**Instructions**
* Use a for loop to iterate over the `penguins` list.
* Check the penguin entry for a `body_mass` of more than 3300 grams.
* Print the `species` and `sex` of the penguin if true.

In [ ]:
penguins = [{'species': 'Adlie',
              'flipper_length': 190.0,
              'body_mass': 3050.0,
              'sex': 'FEMALE'},
            {'species': 'Adlie',
              'flipper_length': 184.0,
              'body_mass': 3325.0,
              'sex': 'FEMALE'},
            {'species': 'Gentoo',
              'flipper_length': 209.0,
              'body_mass': 4800.0,
              'sex': 'FEMALE'},
            {'species': 'Adlie',
              'flipper_length': 193.0,
              'body_mass': 4200.0,
              'sex': 'MALE'},
            {'species': 'Gentoo',
              'flipper_length': 210.0,
              'body_mass': 4400.0,
              'sex': 'FEMALE'},
            {'species': 'Gentoo',
              'flipper_length': 213.0,
              'body_mass': 4650.0,
              'sex': 'FEMALE'},
            {'species': 'Chinstrap',
              'flipper_length': 193.0,
              'body_mass': 3600.0,
              'sex': 'FEMALE'},
            {'species': 'Adlie',
              'flipper_length': 193.0,
              'body_mass': 3800.0,
              'sex': 'MALE'},
            {'species': 'Chinstrap',
              'flipper_length': 199.0,
              'body_mass': 3900.0,
              'sex': 'FEMALE'},
            {'species': 'Chinstrap',
              'flipper_length': 195.0,
              'body_mass': 3650.0,
              'sex': 'FEMALE'},
            {'species': 'Adlie',
              'flipper_length': 185.0,
              'body_mass': 3700.0,
              'sex': 'FEMALE'},
            {'species': 'Gentoo',
              'flipper_length': 208.0,
              'body_mass': 4575.0,
              'sex': 'FEMALE'},
            {'species': 'Adlie',
              'flipper_length': 196.0,
              'body_mass': 4350.0,
              'sex': 'MALE'},
            {'species': 'Adlie',
              'flipper_length': 191.0,
              'body_mass': 3700.0,
              'sex': 'FEMALE'},
            {'species': 'Chinstrap',
              'flipper_length': 195.0,
              'body_mass': 3300.0,
              'sex': 'FEMALE'},
            {'species': 'Adlie',
              'flipper_length': 195.0,
              'body_mass': 3450.0,
              'sex': 'FEMALE'},
            {'species': 'Gentoo',
              'flipper_length': 217.0,
              'body_mass': 4875.0,
              'sex': '.'},
            {'species': 'Gentoo',
              'flipper_length': 212.0,
              'body_mass': 4875.0,
              'sex': 'FEMALE'},
            {'species': 'Adlie',
              'flipper_length': 205.0,
              'body_mass': 4300.0,
              'sex': 'MALE'},
            {'species': 'Gentoo',
              'flipper_length': 220.0,
              'body_mass': 6000.0,
              'sex': 'MALE'}]

In [ ]:
# Use a for loop to iterate over the penguins list
for penguin in penguins:
  # Check the penguin entry for a body mass of more than 3300 grams
  if penguin["body_mass"] > 3300 :
  	# Print the species and sex of the penguin if true
    print(f"{penguin['species']} - {penguin['sex']}")

Adlie - FEMALE
Gentoo - FEMALE
Adlie - MALE
Gentoo - FEMALE
Gentoo - FEMALE
Chinstrap - FEMALE
Adlie - MALE
Chinstrap - FEMALE
Chinstrap - FEMALE
Adlie - FEMALE
Gentoo - FEMALE
Adlie - MALE
Adlie - FEMALE
Adlie - FEMALE
Gentoo - .
Gentoo - FEMALE
Adlie - MALE
Gentoo - MALE

### Excercise 3: Truthy, True, Falsey, and False

While comparisons check for truthiness, something being truthy is not the same as it being `True`. The inverse of that statement is also true about falsey values and them not being `False`. So we need to be vigilent when we are checking is something is `True` or `False` vs truthy or falsey. In Python, we have the `is` operator to check if two things are identical. This time we'll be using a penguin details record dictionary which has the same keys as the prior exercise (`species`, `flipper_length`, `body_mass`, `sex`) with the `tracked` key that has a boolean value.

We loaded a dictionary, `penguin_305_details`, with all the details of a singular penguin's data.

In [ ]:
penguin_305_details = {'species': 'Adlie',
                      'flipper_length': 190.0,
                      'body_mass': 3050.0,
                      'tracked': True,
                      'sex': 'FEMALE'}

**Instructions**
* Check the truthiness of `penguin_305_details` `sex` key.
  * If true, check if `sex` is `True` and store it as `sex_is_true`.
  * Print the `sex` key and `sex_is_true`.
* Check the truthiness of `penguin_305_details` tracked key.
  * If true, check if `tracked` is `True` and store it as `tracked_is_true`.
  * Print the `tracked` key and `tracked_is_true`.

In [ ]:
# Check the truthiness of penguin_305_details sex key
if penguin_305_details["sex"]:
	# If true, check if sex is True and store it as sex_is_true
    sex_is_true = penguin_305_details["sex"] is True
    # Print the sex key's value and sex_is_true
    print(f"{penguin_305_details['sex']}: {sex_is_true}")

# Check the truthiness of penguin_305_details tracked key
if penguin_305_details["tracked"]:
	# If true, check if tracked is True and store it as tracked_is_true
    tracked_is_true = penguin_305_details["tracked"] is True
    # Print the tracked key and tracked_is_true
    print(f"{penguin_305_details['tracked']}: {tracked_is_true}")

FEMALE: False
True: True

## Lesson 3: Sets (unordered data with optimized logic operations)

### Set

* Unique
* Unordered
* Mutable
* Python's implementation of Set Theory from Mathematics

### Creating sets

* Sets are created from a list

In [ ]:
cookies_eaten_today = ['chocolate chip', 'peanut butter',
                        'chocolate chip', 'oatmeal cream', 'chocolate chip']
types_of_cookies_eaten = set(cookies_eaten_today)
print(types_of_cookies_eaten)

{'chocolate chip', 'peanut butter', 'oatmeal cream'}

### Modifying sets

* `.add()` adds single elements

In [ ]:
types_of_cookies_eaten.add('biscotti')
types_of_cookies_eaten.add('chocolate chip')
print(types_of_cookies_eaten)

{'chocolate chip', 'biscotti', 'peanut butter', 'oatmeal cream'}

### Updating sets

* `.update()` merges in another set or list

In [ ]:
cookies_hugo_ate = ['chocolate chip', 'anzac']
types_of_cookies_eaten.update(cookies_hugo_ate)
print(types_of_cookies_eaten)

{'chocolate chip', 'biscotti', 'anzac', 'peanut butter', 'oatmeal cream'}

### Removing data from sets

* `.discard()` safely removes an element from the set by value
* `.pop()` removes and returns an arbitrary element from the
set (KeyError when empty)

In [ ]:
types_of_cookies_eaten.discard('biscotti')
print(types_of_cookies_eaten)

{'chocolate chip', 'anzac', 'peanut butter', 'oatmeal cream'}

In [ ]:
types_of_cookies_eaten.pop()
types_of_cookies_eaten.pop()

'anzac'

### Set operations - similarities

* `.union()` set method returns a set of all the names ( `or` )
* `.intersection()` method identifies overlapping data ( `and` )

In [ ]:
cookies_jason_ate = set(['chocolate chip', 'oatmeal cream', 'peanut butter'])
cookies_hugo_ate = set(['chocolate chip', 'anzac'])
cookies_jason_ate.union(cookies_hugo_ate)

{'anzac', 'chocolate chip', 'oatmeal cream', 'peanut butter'}

In [ ]:
cookies_jason_ate.intersection(cookies_hugo_ate)

{'chocolate chip'}

### Set operations - differences

* `.difference()` method identifies data present in the set on which the method was used that is not in the arguments ( `-` )

* Target is important!

In [ ]:
cookies_jason_ate.difference(cookies_hugo_ate)

{'oatmeal cream', 'peanut butter'}

In [ ]:
cookies_hugo_ate.difference(cookies_jason_ate)

{'anzac'}

### Excercise 1: Determining set differences

Another way of comparing sets is to use the `difference()` method. It returns all the items found in one set but not another. It's important to remember the set you call the method on will be the one from which the items are returned. Unlike tuples, you can `add()` items to a set. A set will only add items that do not exist in the set.

In this exercise, you'll explore what species had male subjects in our sample, but didn't have female subjects. The set `male_penguin_species` has been pre-loaded into your workspace.

In [ ]:
male_penguin_species = {'Adlie', 'Gentoo'}
penguins = [{'species': 'Adlie',
            'flipper_length': 190.0,
            'body_mass': 3050.0,
            'sex': 'FEMALE'},
          {'species': 'Adlie',
            'flipper_length': 184.0,
            'body_mass': 3325.0,
            'sex': 'FEMALE'},
          {'species': 'Gentoo',
            'flipper_length': 209.0,
            'body_mass': 4800.0,
            'sex': 'FEMALE'},
          {'species': 'Adlie',
            'flipper_length': 193.0,
            'body_mass': 4200.0,
            'sex': 'MALE'},
          {'species': 'Gentoo',
            'flipper_length': 210.0,
            'body_mass': 4400.0,
            'sex': 'FEMALE'},
          {'species': 'Gentoo',
            'flipper_length': 213.0,
            'body_mass': 4650.0,
            'sex': 'FEMALE'},
          {'species': 'Chinstrap',
            'flipper_length': 193.0,
            'body_mass': 3600.0,
            'sex': 'FEMALE'},
          {'species': 'Adlie',
            'flipper_length': 193.0,
            'body_mass': 3800.0,
            'sex': 'MALE'},
          {'species': 'Chinstrap',
            'flipper_length': 199.0,
            'body_mass': 3900.0,
            'sex': 'FEMALE'},
          {'species': 'Chinstrap',
            'flipper_length': 195.0,
            'body_mass': 3650.0,
            'sex': 'FEMALE'},
          {'species': 'Adlie',
            'flipper_length': 185.0,
            'body_mass': 3700.0,
            'sex': 'FEMALE'},
          {'species': 'Gentoo',
            'flipper_length': 208.0,
            'body_mass': 4575.0,
            'sex': 'FEMALE'},
          {'species': 'Adlie',
            'flipper_length': 196.0,
            'body_mass': 4350.0,
            'sex': 'MALE'},
          {'species': 'Adlie',
            'flipper_length': 191.0,
            'body_mass': 3700.0,
            'sex': 'FEMALE'},
          {'species': 'Chinstrap',
            'flipper_length': 195.0,
            'body_mass': 3300.0,
            'sex': 'FEMALE'},
          {'species': 'Adlie',
            'flipper_length': 195.0,
            'body_mass': 3450.0,
            'sex': 'FEMALE'},
          {'species': 'Gentoo',
            'flipper_length': 217.0,
            'body_mass': 4875.0,
            'sex': '.'},
          {'species': 'Gentoo',
            'flipper_length': 212.0,
            'body_mass': 4875.0,
            'sex': 'FEMALE'},
          {'species': 'Adlie',
            'flipper_length': 205.0,
            'body_mass': 4300.0,
            'sex': 'MALE'},
          {'species': 'Gentoo',
            'flipper_length': 220.0,
            'body_mass': 6000.0,
            'sex': 'MALE'}]

**Instructions**
* Use a list comprehension to iterate over each `penguin` in `penguins` saved as `female_species_list`:
  * If the the sex of the penguin is `'FEMALE'`, return the `species` value.
* Create a set using the `female_species_list` as `female_penguin_species`.
* Find the difference between `female_penguin_species` and `male_penguin_species`. Store the result as differences.
* Print the differences. This has been done for you, so hit 'Submit Answer' to see the result!

In [ ]:
# Use a list comprehension to iterate over each penguin in penguins saved as female_species_list
# If the the sex of the penguin is 'FEMALE', return the species value
female_species_list = [penguin["species"] for penguin in penguins if penguin["sex"] == 'FEMALE']

# Create a set using the female_species_list as female_penguin_species
female_penguin_species = set(female_species_list)

# Find the difference between female_penguin_species and male_penguin_species. Store the result as differences
differences = female_penguin_species.difference(male_penguin_species)

# Print the differences
print(differences)

{'Chinstrap'}

### Excercise 2: Finding all the data and the overlapping data between sets

Sets have several methods to combine, compare, and study them all based on mathematical set theory. The `.union()` method returns a set of all the elements found in the set you used the method on plus any sets passed as arguments to the method. You can also look for overlapping data in sets by using the `.intersection()` method on a set and passing another set as an argument. It will return an empty set if nothing matches.

Your job in this exercise is to find the union and intersection in the species from male and female penguins. For this purpose, two sets have been pre-loaded into your workspace: `female_penguin_species` and `male_penguin_species`.

In [ ]:
female_penguin_species = {'Adlie', 'Chinstrap', 'Gentoo'}
male_penguin_species = {'Adlie', 'Gentoo'}

**Instructions**
* Combine all the species in `female_penguin_species` and `male_penguin_species` by computing their union. Store the result as all_species.
* Print the number of species in `all_species`. You can use the `len()` function to compute the number of species in `all_species`.
* Find all the species that occur in both `female_penguin_species` and `male_penguin_species` by computing their intersection. Store the result as `overlapping_species`.
* Print the number of species in `overlapping_species`.

In [ ]:
# Find the union: all_species
all_species = female_penguin_species.union(male_penguin_species)

# Print the count of names in all_species
print(len(all_species))

# Find the intersection: overlapping_species
overlapping_species = female_penguin_species.intersection(male_penguin_species)

# Print the count of species in overlapping_species
print(len(overlapping_species))

3
2

# CHAPTER 4: Advanced Data Types

Some data types are composites of other data types and give me even more capabilities than a fundamental data type. Let's explore a few complex types from the collections module and data classes.

## Lesson 1: Counting made easy

### Collections Module

* Part of Standard Library
* Advanced data containers

### Counter

* Special dictionary used for counting data, measuring frequency

In [ ]:
nyc_eatery_types = [
    "Mobile Food Truck", "Food Cart", "Mobile Food Truck", "Snack Bar",
    "Specialty Cart", "Restaurant", "Food Cart", "Mobile Food Truck",
    "Fruit & Vegetable Cart", "Mobile Food Truck", "Snack Bar",
    "Mobile Food Truck", "Restaurant", "Food Cart", "Food Cart",
    "Specialty Cart", "Snack Bar", "Mobile Food Truck", "Restaurant",
    "Food Cart", "Food Cart", "Mobile Food Truck", "Specialty Cart",
    "Mobile Food Truck", "Snack Bar", "Fruit & Vegetable Cart",
    "Mobile Food Truck", "Food Cart", "Mobile Food Truck",
    "Mobile Food Truck", "Snack Bar", "Food Cart", "Restaurant",
    "Food Cart", "Snack Bar", "Mobile Food Truck", "Specialty Cart",
    "Fruit & Vegetable Cart", "Mobile Food Truck", "Mobile Food Truck",
] * 3

In [ ]:
from collections import Counter
nyc_eatery_count_by_types = Counter(nyc_eatery_types)
print(nyc_eatery_count_by_types)

Counter({'Mobile Food Truck': 42, 'Food Cart': 27, 'Snack Bar': 18, 'Specialty Cart': 12, 'Restaurant': 12, 'Fruit & Vegetable Cart': 9})

In [ ]:
print(nyc_eatery_count_by_types['Restaurant'])

12

### Counter to find the most common

* `.most_common()` method returns the counter values in descending order

In [ ]:
print(nyc_eatery_count_by_types.most_common(3))

[('Mobile Food Truck', 42), ('Food Cart', 27), ('Snack Bar', 18)]

### Excercise 1: Using Counter on lists

`Counter` is a powerful tool for counting, validating, and learning more about the elements within a dataset that is found in the collections module. You pass an iterable (list, set, tuple) or a dictionary to the Counter. You can also use the Counter object similarly to a dictionary with key/value assignment, for example `counter[key] = value`.

A common usage for `Counter` is checking data for consistency prior to using it, so let's do just that.

In [ ]:
penguins = [{'Species': 'Gentoo',
  'Flipper Length (mm)': 230.0,
  'Body Mass (g)': 5500.0,
  'Sex': 'MALE'},
 {'Species': 'Chinstrap',
  'Flipper Length (mm)': 201.0,
  'Body Mass (g)': 4300.0,
  'Sex': 'MALE'},
 {'Species': 'Adlie',
  'Flipper Length (mm)': 180.0,
  'Body Mass (g)': 3800.0,
  'Sex': 'MALE'},
 {'Species': 'Gentoo',
  'Flipper Length (mm)': 229.0,
  'Body Mass (g)': 5800.0,
  'Sex': 'MALE'},
 {'Species': 'Chinstrap',
  'Flipper Length (mm)': 210.0,
  'Body Mass (g)': 4100.0,
  'Sex': 'MALE'},
 {'Species': 'Adlie',
  'Flipper Length (mm)': 200.0,
  'Body Mass (g)': 3975.0,
  'Sex': 'MALE'},
 {'Species': 'Gentoo',
  'Flipper Length (mm)': 225.0,
  'Body Mass (g)': 5400.0,
  'Sex': 'MALE'},
 {'Species': 'Chinstrap',
  'Flipper Length (mm)': 210.0,
  'Body Mass (g)': 4800.0,
  'Sex': 'MALE'},
 {'Species': 'Chinstrap',
  'Flipper Length (mm)': 193.0,
  'Body Mass (g)': 3800.0,
  'Sex': 'FEMALE'},
 {'Species': 'Adlie',
  'Flipper Length (mm)': 176.0,
  'Body Mass (g)': 3450.0,
  'Sex': 'FEMALE'},
 {'Species': 'Chinstrap',
  'Flipper Length (mm)': 210.0,
  'Body Mass (g)': 3950.0,
  'Sex': 'MALE'},
 {'Species': 'Gentoo',
  'Flipper Length (mm)': 219.0,
  'Body Mass (g)': 5250.0,
  'Sex': 'MALE'},
 {'Species': 'Gentoo',
  'Flipper Length (mm)': 210.0,
  'Body Mass (g)': 4300.0,
  'Sex': 'FEMALE'},
 {'Species': 'Gentoo',
  'Flipper Length (mm)': 216.0,
  'Body Mass (g)': 4925.0,
  'Sex': 'MALE'},
 {'Species': 'Adlie',
  'Flipper Length (mm)': 187.0,
  'Body Mass (g)': 3550.0,
  'Sex': 'FEMALE'},
 {'Species': 'Adlie',
  'Flipper Length (mm)': 192.0,
  'Body Mass (g)': 3950.0,
  'Sex': 'MALE'},
 {'Species': 'Chinstrap',
  'Flipper Length (mm)': 193.0,
  'Body Mass (g)': 3800.0,
  'Sex': 'MALE'},
 {'Species': 'Chinstrap',
  'Flipper Length (mm)': 201.0,
  'Body Mass (g)': 4050.0,
  'Sex': 'MALE'},
 {'Species': 'Adlie',
  'Flipper Length (mm)': 190.0,
  'Body Mass (g)': 3650.0,
  'Sex': 'MALE'},
 {'Species': 'Adlie',
  'Flipper Length (mm)': 181.0,
  'Body Mass (g)': 3175.0,
  'Sex': 'FEMALE'}]

**Instructions**
* Import the `Counter` object from `collections`.
* Create a Counter of the `penguins` list called `penguins_sex_counts`; use a list comprehension to return the `Sex` of each penguin to the Counter.
Print the `penguins_sex_counts`.

In [ ]:
# Import the Counter object
from collections import Counter

# Create a Counter of the penguins sex using a list comp
penguins_sex_counts = Counter(penguin['Sex'] for penguin in penguins)

# Print the penguins_sex_counts
print(penguins_sex_counts)

Counter({'MALE': 15, 'FEMALE': 5})

### Excercise 2: Finding most common elements

Another powerful usage of Counter is finding the most common elements in a list. This can be done with the `.most_common()` method.

Practice using this now to find the most common species in a penguins list.

**Instructions**
* Import the `Counter` object from `collections`.
* Create a Counter of the penguins list called `penguins_species_counts`; use a list comprehension to return the `Species` of each penguin to the Counter.
* Print the three most common species counts.

In [ ]:
# Import the Counter object
from collections import Counter

# Create a Counter of the penguins list: penguins_species_counts
penguins_species_counts = Counter(penguin['Species'] for penguin in penguins)

# Find the 3 most common species counts
print(penguins_species_counts.most_common(3))

[('Chinstrap', 7), ('Adlie', 7), ('Gentoo', 6)]

## Lesson 2: Dictionaries of unknown structure - defaultdict

### Dictionary Handling

In [ ]:
nyc_eateries_parks = [
    ('M010', 'MOHAMMAD MATIN'),
    ('M010', 'PRODUCTS CORP.'),
    ('M010', 'Loeb Boathouse Restaurant'),
    ('M010', 'Nandita Inc.'),
    ('M010', 'SALIM AHAMED'),
    ('M010', 'THE NY PICNIC COMPANY'),
    ('M010', 'THE NEW YORK PICNIC COMPANY, INC.'),
    ('M010', 'NANDITA, INC.'),
    ('M010', 'JANANI FOOD SERVICE, INC.'),
    ('M020', 'Central Park Food Stand'),
    ('M020', 'Downtown Snacks'),
    ('M030', 'Brooklyn Bites'),
    ('M030', 'Sunset Park Cafe'),
]


eateries_by_park = {}

for park_id, name in nyc_eateries_parks:
    if park_id not in eateries_by_park:
        eateries_by_park[park_id] = []
    eateries_by_park[park_id].append(name)

print(eateries_by_park['M010'])

['MOHAMMAD MATIN', 'PRODUCTS CORP.', 'Loeb Boathouse Restaurant', 'Nandita Inc.', 'SALIM AHAMED', 'THE NY PICNIC COMPANY', 'THE NEW YORK PICNIC COMPANY, INC.', 'NANDITA, INC.', 'JANANI FOOD SERVICE, INC.']

### Using defaultdict

* Pass it a default type that every key will have even if it doesn't currently exist
* Works exactly like a dictionary

In [ ]:
from collections import defaultdict
eateries_by_park = defaultdict(list)
for park_id, name in nyc_eateries_parks:
  eateries_by_park[park_id].append(name)
print(eateries_by_park['M010'])

['MOHAMMAD MATIN', 'PRODUCTS CORP.', 'Loeb Boathouse Restaurant', 'Nandita Inc.', 'SALIM AHAMED', 'THE NY PICNIC COMPANY', 'THE NEW YORK PICNIC COMPANY, INC.', 'NANDITA, INC.', 'JANANI FOOD SERVICE, INC.']

### Using defaultdict

In [ ]:
nyc_eateries = [
    {"name": "Eatery 1", "phone": "123-456", "website": "eatery1.com"},
    {"name": "Eatery 2", "phone": "789-012"},
    {"name": "Eatery 3", "website": "eatery3.com"},
    {"name": "Eatery 4", "phone": "234-567", "website": "eatery4.com"},
] * 10  # Nhân lên để đạt số lượng quán ăn lớn hơn

nyc_eateries += [{"name": "Eatery 5", "phone": "345-678"}] * 8  # Thêm 8 quán chỉ có phone
nyc_eateries += [{"name": "Eatery 6", "website": "eatery6.com"}] * 11  # Thêm 11 quán chỉ có website

In [ ]:
from collections import defaultdict
eatery_contact_types = defaultdict(int)
for eatery in nyc_eateries:
  if eatery.get('phone'):
    eatery_contact_types['phones'] += 1
  if eatery.get('website'):
    eatery_contact_types['websites'] += 1
print(eatery_contact_types)

defaultdict(<class 'int'>, {'phones': 38, 'websites': 41})

### Excercise 1: Creating dictionaries of an unknown structure

Occasionally, you'll need a structure to hold nested data, and you may not be certain that the keys will all actually exist. This can be an issue if you're trying to append items to a list for that key. You might remember the NYC data that we explored in the video. In order to solve the problem with a regular dictionary, you'll need to test that the key exists in the dictionary, and if not, add it with an empty list.

You'll be working with a list of entries that contains species, flipper length, body mass, and sex of the female penguins in our study. You're going to solve this same type of problem with a much easier solution in the next exercise.

**Instructions**
* Create an empty dictionary called `female_penguin_weights`.
* Iterate over `weight_log`, unpacking it into the variables `species`, `sex`, and `body_mass`.
* Check to see if the `species` already exists in the `female_penguin_weights` dictionary. If it does not exist, create an empty list for the species key. Then, append a tuple consisting of `sex` and `body_mass` to the species key of the `female_penguin_weights` dictionary for all entries in the `weight_log`.
* Print the `female_penguin_weights` for `'Adlie'`.

In [ ]:
weight_log = [('Chinstrap', 'FEMALE', 3800.0),
              ('Adlie', 'FEMALE', 3450.0),
              ('Gentoo', 'FEMALE', 4300.0),
              ('Adlie', 'FEMALE', 3550.0),
              ('Adlie', 'FEMALE', 3175.0)]

In [ ]:
# Create an empty dictionary: female_penguin_weights
female_penguin_weights = {}

# Iterate over the weight_log entries
for species, sex, body_mass in weight_log:
    # Check to see if species is already in the dictionary
    if species not in female_penguin_weights:
        # Create an empty list for any missing species
        female_penguin_weights[species] = []
    # Append the sex and body_mass as a tuple to the species keys list
    female_penguin_weights[species].append((sex,body_mass) )

# Print the weights for 'Adlie'
print(female_penguin_weights['Adlie'])

[('FEMALE', 3450.0), ('FEMALE', 3550.0), ('FEMALE', 3175.0)]

### Excercise 2: Safely appending to a key's value list

Often when working with dictionaries, you will need to initialize a data type before you can use it. A prime example of this is a list, which has to be initialized on each key before you can append to that list.

A `defaultdict` allows you to define what each uninitialized key will contain. When establishing a `defaultdict`, you pass it the type you want it to be, such as a `list`, `tuple`, `set`, `int`, `string`, `dictionary` or any other valid type object.

You'll be working with the same weight log as last exercise, but with the male penguins in our study.

**Instructions**
* Import `defaultdict` from `collections`.
* Create a `defaultdict` with a default type of `list` called `male_penguin_weights`.
* Iterate over the list `weight_log`, unpacking it into the variables `species`, `sex`, and `body_mass`, as you did in the previous exercise. Use `species` as the key of the `male_penguin_weights` dictionary and append `body_mass` to its value.
* Print the first 2 items of the `male_penguin_weights` dictionary. You can use the `.items()` method for this. Remember to make it a list.

In [ ]:
weight_log = [('Gentoo', 'MALE', 5500.0),
 ('Chinstrap', 'MALE', 4300.0),
 ('Adlie', 'MALE', 3800.0),
 ('Gentoo', 'MALE', 5800.0),
 ('Chinstrap', 'MALE', 4100.0),
 ('Adlie', 'MALE', 3975.0),
 ('Gentoo', 'MALE', 5400.0),
 ('Chinstrap', 'MALE', 4800.0),
 ('Chinstrap', 'MALE', 3950.0),
 ('Gentoo', 'MALE', 5250.0),
 ('Gentoo', 'MALE', 4925.0),
 ('Adlie', 'MALE', 3950.0),
 ('Chinstrap', 'MALE', 3800.0),
 ('Chinstrap', 'MALE', 4050.0),
 ('Adlie', 'MALE', 3650.0)]

In [ ]:
# Import defaultdict
from collections import defaultdict

# Create a defaultdict with a default type of list: male_penguin_weights
male_penguin_weights = defaultdict(list)

# Iterate over the weight_log entries
for species, sex, body_mass in weight_log:
    # Use the species as the key, and append the body_mass to it
    male_penguin_weights[species].append(body_mass)

# Print the first 2 items of the male_penguin_weights dictionary
print(list(male_penguin_weights.items())[:2])

[('Gentoo', [5500.0, 5800.0, 5400.0, 5250.0, 4925.0]), ('Chinstrap', [4300.0, 4100.0, 4800.0, 3950.0, 3800.0, 4050.0])]

## Lesson 2: Namedtuple

### What is a namedtuple?

* A tuple where each position (column) has a name
* Ensure each one has the same properties
* Alternative to a `pandas` DataFrame row

### Creating a namedtuple

In [ ]:
nyc_eateries = [
    {
        "name": "Mapes Avenue Ballfields Mobile Food Truck",
        "location": "Prospect Avenue, E. 181st Street",
        "park_id": "X289",
        "type_name": "Mobile Food Truck"
    },
    {
        "name": "Central Park Snack Bar",
        "location": "Central Park, Near Bethesda Terrace",
        "park_id": "M010",
        "type_name": "Snack Bar"
    },
    {
        "name": "Brooklyn Bridge Food Cart",
        "location": "Brooklyn Bridge Park, Pier 1",
        "park_id": "B023",
        "type_name": "Food Cart"
    },
    {
        "name": "Queens Botanical Garden Café",
        "location": "43-50 Main St, Queens",
        "park_id": "Q045",
        "type_name": "Restaurant"
    }
]

In [ ]:
from collections import namedtuple
Eatery = namedtuple('Eatery', ['name', 'location', 'park_id','type_name'])
eateries = []
for eatery in nyc_eateries:
  details = Eatery(eatery['name'],
                  eatery['location'],
                  eatery['park_id'],
                  eatery['type_name'])
  eateries.append(details)

In [ ]:
print(eateries[0])

Eatery(name='Mapes Avenue Ballfields Mobile Food Truck', location='Prospect Avenue, E. 181st Street', park_id='X289', type_name='Mobile Food Truck')

### Leveraging namedtuples

* Each field is available as an attribute of the namedtuple

In [ ]:
for eatery in eateries[:3]:
  print(eatery.name)
  print(eatery.park_id)
  print(eatery.location)

Mapes Avenue Ballfields Mobile Food Truck
X289
Prospect Avenue, E. 181st Street
Central Park Snack Bar
M010
Central Park, Near Bethesda Terrace
Brooklyn Bridge Food Cart
B023
Brooklyn Bridge Park, Pier 1

### Excercise 1: Creating namedtuples for storing data

Often times when working with data, you will use a dictionary just so you can use key names to make reading the code and accessing the data easier to understand. Python has another container called a `namedtuple` that is a tuple, but has names for each position of the tuple. You create one by passing a name for the tuple type and a list of field names.

For example, `Cookie = namedtuple("Cookie", ['name', 'quantity'])` will create a container, and you can create new ones of the type using `Cookie('chocolate chip', 1)` where you can access the name using the name attribute, and then get the quantity using the quantity attribute.

In this exercise, you're going to restructure the penguin weight log data you've been working with into namedtuples for more descriptive code.

**Instructions**
* Import `namedtuple` from `collections`.
* Create a namedtuple called `SpeciesDetails` with a type name of `SpeciesDetails` and fields of `'species'`, `'sex'`, and `'body_mass'`.
* Create a list called `labeled_entries`.
* Iterate over the `weight_log` list, unpacking it into `species`, `sex`, and `body_mass`, and create a new `SpeciesDetails` namedtuple instance for each entry and append it to `labeled_entries`.

In [ ]:
weight_log = [('Gentoo', 'MALE', 5500.0),
              ('Chinstrap', 'MALE', 4300.0),
              ('Adlie', 'MALE', 3800.0),
              ('Gentoo', 'MALE', 5800.0),
              ('Chinstrap', 'MALE', 4100.0),
              ('Adlie', 'MALE', 3975.0),
              ('Gentoo', 'MALE', 5400.0),
              ('Chinstrap', 'MALE', 4800.0),
              ('Chinstrap', 'FEMALE', 3800.0),
              ('Adlie', 'FEMALE', 3450.0),
              ('Chinstrap', 'MALE', 3950.0),
              ('Gentoo', 'MALE', 5250.0),
              ('Gentoo', 'FEMALE', 4300.0),
              ('Gentoo', 'MALE', 4925.0),
              ('Adlie', 'FEMALE', 3550.0),
              ('Adlie', 'MALE', 3950.0),
              ('Chinstrap', 'MALE', 3800.0),
              ('Chinstrap', 'MALE', 4050.0),
              ('Adlie', 'MALE', 3650.0),
              ('Adlie', 'FEMALE', 3175.0)]

In [ ]:
# Import namedtuple from collections
from collections import namedtuple

# Create the namedtuple: SpeciesDetails
SpeciesDetails = namedtuple('SpeciesDetails', ['species', 'sex', 'body_mass'])

# Create the empty list: labeled_entries
labeled_entries = []

# Iterate over the weight_log entries
for species, sex, body_mass in weight_log:
    # Append a new SpeciesDetails namedtuple instance for each entry to labeled_entries
    labeled_entries.append(SpeciesDetails(species, sex, body_mass))

print(labeled_entries[:5])

[SpeciesDetails(species='Gentoo', sex='MALE', body_mass=5500.0), SpeciesDetails(species='Chinstrap', sex='MALE', body_mass=4300.0), SpeciesDetails(species='Adlie', sex='MALE', body_mass=3800.0), SpeciesDetails(species='Gentoo', sex='MALE', body_mass=5800.0), SpeciesDetails(species='Chinstrap', sex='MALE', body_mass=4100.0)]

### Excercise 2: Leveraging attributes on namedtuples

Once you have a namedtuple, you can write more expressive code that is easier to understand. Remember, you can access the elements in the tuple by their name as an attribute. For example, you can access the species of the namedtuples in the previous exercise using the `.species` attribute.

Here, you'll use the tuples you made in the previous exercise to see how this works.

**Instructions**
* Iterate over the first twenty `entrys` s in the `labeled_entries` list:
  * If it is a `Chinstrap` species:
    * Print the entry's `sex` and `body_mass` separated by a `:`.

In [ ]:
# Iterate over the first twenty entries in labeled_entries
for entry in labeled_entries[:20]:
    # if the entry's species equals Chinstrap
    if entry.species == 'Chinstrap':
      # Print each entry's sex and body_mass seperated by a colon
      print(f'{entry.sex}:{entry.body_mass}')

MALE:4300.0
MALE:4100.0
MALE:4800.0
FEMALE:3800.0
MALE:3950.0
MALE:3800.0
MALE:4050.0

## Lesson 4: Dataclasses

### Why use dataclasses

* Support for default values
* Custom representations of the objects
* Easy tuple or a dictionary conversion
* Custom properties
* Frozen instances

### Looking at our first dataclass

In [ ]:
from dataclasses import dataclass

In [ ]:
@dataclass
class Cookie:
  name: str
  quantity: int = 0

In [ ]:
chocolate_chip = Cookie("chocolate chip", 13)
print(chocolate_chip.name)
print(chocolate_chip.quantity)

chocolate chip
13

### Easy tuple or a dictionary conversion

In [ ]:
from dataclasses import asdict, astuple

ginger_molasses = Cookie("ginger molasses", 8)
asdict(ginger_molasses)

{'name': 'ginger molasses', 'quantity': 8}

In [ ]:
astuple(ginger_molasses)

('ginger molasses', 8)

### Custom properties

In [ ]:
from decimal import Decimal
@dataclass
class Cookie:
  name: str
  cost: Decimal
  quantity: int

  @property
  def value_of_goods(self):
    return int(self.quantity) * self.cost

### Using custom properties

In [ ]:
peanut = Cookie("peanut butter", Decimal("1.2"), 8)
peanut.value_of_goods

Decimal('9.6')

### Frozen instances

In [ ]:
@dataclass(frozen=True)
class Cookie:
  name: str
  quantity: int = 0

c = Cookie("chocolate chip", 10)

In [ ]:
c.quantity = 15

FrozenInstanceError: cannot assign to field 'quantity'

### Excercise 1: Creating a dataclass

Dataclasses can provide even richer ways of storing and working with data. Previously we used a namedtuple on weight log entries to make a nice easy to use data structure. In this code, we're going to use a dataclass to do the same thing, but add a custom `property` to return the body mass to flipper length ratio. Dataclasses start with a collection of fields and their types. Then you define any properties, which are functions on the dataclass that operate on itself to return additional information about the data. For example, a person dataclass might have a property that calculates someone's current age based on their birthday and the current date.

**Instructions**
* Import `dataclass` from `dataclasses`.
* Add the `species` (`string`), `sex` (`string`), `body_mass` (`int`), and `flipper_length` (`int`) fields to the dataclass.
* Add a property (`mass_to_flipper_length_ratio`) that returns the `body_mass` divided by the `flipper_length`.

In [ ]:
# Import dataclass
from dataclasses  import dataclass

@dataclass
class WeightEntry:
    # Define the fields on the class
    species: str
    sex: int
    body_mass: int
    flipper_length: str

    # Define a property that returns the body_mass / flipper_length
    @property
    def mass_to_flipper_length_ratio(self):
        return self.body_mass / self.flipper_length

### Excercise 2: Using dataclasses

Let's put our `WeightEntry` dataclass we created in the prior exercise to use. We'll create an instance of the `WeightEntry` for each entry in the `weight_log` and then use the `mass_to_flipper_length_ratio` property we added to perform the calculation. Here is a reminder of our `WeightEntry` dataclass.

```
@dataclass
class WeightEntry:
    # Define the fields on the class
    species: str
    flipper_length: int
    body_mass: int
    sex: str

    @property
    def mass_to_flipper_length_ratio(self):
        return self.body_mass / self.flipper_length
```

**Instructions**
* Create an empty list called `labeled_entries`.
* Iterate over the `weight_log` entries using tuple expansion to break out `species`, `flipper_length`, `body_mass`, `sex`.
  * Append a new `WeightEntry` dataclass instance for each entry to `labeled_entries`.
* Print a list of the first 5 `mass_to_flipper_length_ratio` values using a list comprehension.

In [ ]:
weight_log = [('Gentoo', 230.0, 5500.0, 'MALE'),
              ('Gentoo', 229.0, 5800.0, 'MALE'),
              ('Gentoo', 225.0, 5400.0, 'MALE'),
              ('Gentoo', 219.0, 5250.0, 'MALE'),
              ('Gentoo', 210.0, 4300.0, 'FEMALE'),
              ('Gentoo', 216.0, 4925.0, 'MALE')]

In [ ]:
@dataclass
class WeightEntry:
    # Define the fields on the class
    species: str
    flipper_length: int
    body_mass: int
    sex: str

    @property
    def mass_to_flipper_length_ratio(self):
        return self.body_mass / self.flipper_length

In [ ]:
# Create the empty list: labeled_entries
labeled_entries = []

# Iterate over the weight_log entries
for species, flipper_length, body_mass, sex in weight_log:
    # Append a new WeightEntry instance to labeled_entries
    labeled_entries.append(WeightEntry(species, flipper_length, body_mass, sex))

# Print a list of the first 5 mass_to_flipper_length_ratio values
print([entry.mass_to_flipper_length_ratio for entry in labeled_entries[:5]])

[23.91304347826087, 25.32751091703057, 24.0, 23.972602739726028, 20.476190476190474]